.icon {
    width: 24px;
    height: 24px;
    transition: ease-in-out 200ms;
    opacity: 0.7;
    filter: grayscale(1);

    &--invert {
        opacity: 1;
        filter: grayscale(1) invert(1);
    }

    &--clickable {
        cursor: pointer;
    }

    &--variant {
        &-circle {
            padding: 7px;
            border-radius: 100%;
            background: $primary-text-light;
        }

        &-button {
            width: 22px;
            height: 22px;
            margin-right: 5px;
        }
    }
}
