[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pony = "*"
simplejson = "*"
requests = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[scripts]
black = "black --check --line-length 120 ."
server = "./main.py"
