# JetBrains
.idea/

# Python
__pycache__/

# Node.js
node_modules
package-lock.json

# Build
modules/web_server/static/js
modules/web_server/static/styles/*.css
modules/web_server/static/styles/*.css.map

# Logs
*.log*

# SASS
.sass-cache/

# Database
*.sqlite*

# Nohup
nohup.out

# Static symlink
/static
