# JetBrains IDE
.idea/

# Python
__pycache__/
*.pyc

# Node.js (using BUN)
.package-lock.json
node_modules
*config.js

# Next.js
.next/

# Logs
*.log*

# Database
*.sqlite*

# Environment
*.env*

# Nohup
nohup.out
