.handlers-wrapper {
    content: "";
    flex-wrap: wrap;
    height: 0;
    gap: 1rem;
    align-content: start;
    flex-grow: 1;

    @media (max-width: 1000px) {
        width: 100%;
        flex-wrap: nowrap !important;
        height: unset;
    }
}
