@mixin button-default {
    --button-text-color: var(--color-mono-light);
    --button-border-radius: var(--border-radius-small);
    --button-background: var(--color-primary);
    --button-font-size: var(--font-size-tiny);
    --button-font-weight: var(--font-weight-bold);
    --button-box-shadow: var(--box-shadow-button);
    --button-border: none;
    --button-padding: 13px 36px;
    --icon-filter: var(--default-button-icon-filter);

    &:hover {
        transform: var(--transform-hover);
        filter: brightness(1.1);
        backdrop-filter: blur(10px) brightness(1.1);
    }

    &:active {
        transform: scale(0.98) translateY(2px);
        transition: var(--transition-click);
        filter: brightness(0.9);
    }

    &:disabled {
        transform: unset;
        filter: grayscale(0.7);
        backdrop-filter: none;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--button-padding);
    transition: var(--transition-default);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    background: var(--button-background);
    box-shadow: var(--button-box-shadow);
    color: var(--button-text-color);
    font-family: inherit;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-decoration: none;
    cursor: pointer;
    gap: 6px;

    --button-box-shadow: unset;

    &:disabled {
        cursor: not-allowed;

        &:hover {
            transform: unset;
        }
    }

    &--uppercased {
        text-transform: uppercase;
    }


    &--grow {
        flex-grow: 1;

        &Mobile {
            @media (max-width: 768px) {
                flex-grow: 1;
            }
        }
    }

    &--slim {
        padding: 13px 15px;
    }

    &--variant {
        &-default {
            @include button-default;

            &:hover {
                --button-box-shadow: var(--box-shadow-button-hover);
            }

            &:disabled {
                box-shadow: unset;
            }
        }

        &-outline {
            @include button-default;

            --button-background: rgb(255 255 255 / 10%);
            --button-text-color: var(--color-primary);
            --button-box-shadow: inset 0 0 0 3px var(--color-primary), var(--box-shadow-button);
            --icon-filter: var(--primary-color-filter);

            &:hover {
                --button-box-shadow:
                        inset 0 0 0 3px var(--color-primary),
                        var(--box-shadow-button-hover);
            }

            &:disabled {
                --button-box-shadow: inset 0 0 0 3px var(--color-primary);
            }
        }

        &-card {
            --button-border-radius: 15px;
            --button-font-size: 16px;
            --button-font-weight: var(--font-weight-medium);
            --button-padding: 10px;

            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            &:hover {
                --button-background: var(--color-mono-light);
            }
        }

        // &-white {
        //    @include button-theme;

        //    background: var(--white);
        //    color: var(--primary-text);
        // }

        // &-outline-white {
        //    --color-primary: var(--color-mono-light);
        // }

        // &-outline-small {
        //    padding: 12px 20px !important;
        //    font-size: 13px !important;
        // }

        // &-input-control {
        //    align-self: center;
        //    margin: 0 10px;
        //    padding: 0;
        //    border-radius: 5px;
        //    background: var(--grey-light);
        //    box-shadow: 0 0 0 1px var(--color-theme);

        //    &:hover {
        //        transform: unset;
        //        box-shadow: 0 0 0 1px var(--color-primary);
        //        filter: brightness(0.95);
        //    }
        // }

        // &-circle-icon {
        //    align-content: center;
        //    width: 40px;
        //    height: 40px;
        //    border-radius: 100%;
        //    background: var(--white);
        //    box-shadow: var(--globals-button-shadow);
        // }

        // &-card-active {
        //    align-items: center;

        //    .icon {
        //        &--variant-button {
        //            margin-right: 5px;
        //            padding: 5px;
        //            border-radius: 20px;

        //            img {
        //                filter: invert(1);
        //                width: 22px !important;
        //                height: 22px !important;
        //            }
        //        }
        //    }
        // }
    }

    // &--active {
    //    background: var(--color-primary) !important;
    // }

    // &--expand {
    //    width: 100%;
    // }

    // &--center {
    //    margin: auto;
    // }

    // &--navbar {
    //    padding: 13px 32px !important;
    //    white-space: nowrap;
    // }
}
