@import 'fonts'
@import 'variables'


body
  position: relative
  height: 100vh
  min-height: 100vh
  margin: 0
  padding-left: 325px
  background-color: $white-bg
  color: $grey-555
  font-family: $font1

  @media (max-width: 900px)
    padding-left: 0

%tile
  display: inline-block
  transition: transform ease-in-out 50ms
  border-radius: 15px
  background-color: $white-fff
  box-shadow: 2px 2px 3px $shadow
  vertical-align: top
  box-sizing: border-box

%white-edge
  &::before
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 100%
    background: $white-fff
    box-shadow: 0 0 15px 20px $white-fff
    content: ''

%small-id
  display: inline-block
  position: relative
  min-width: 20px
  padding: 0 4px
  border-radius: 6px
  background-color: $silver-aaa
  color: $white-fff
  text-align: center
  vertical-align: top
  box-sizing: border-box

a
  outline: none
  text-decoration: none

  &:hover
    text-decoration: underline

img
  image-rendering: -webkit-optimize-contrast

hr
  border: 0
  border-bottom: 1px solid $silver-ccc
