@import 'defaults'

@import 'navbar/navbar'
@import 'notifications/notifications'
@import 'info_block/info_block'
@import 'block_list/block_list'
@import 'button/button'
@import 'table/table'
@import 'dialog/dialog'
@import 'checkbox_list/checkbox_list'
@import 'form/form'
@import 'input-text/input-text'


.content-container
  height: 100%
  padding: 20px 35px
  overflow: auto
  box-sizing: border-box

  &__title
    margin: 7px 0
    font-size: 22px

  &__smaller-title
    margin-bottom: 0
    font-size: 17px

  @media (max-width: 900px)
    padding: 20px
