// Colors schemes

$white-main:    #f9fafc
$white-blue:    #f8f9ff
$white-bg:      #f1f0f6
$green-light:   #cfffc3

$white-fff:     #fff
$white-eee:     #eee
$white-ddd:     #ddd
$silver-ccc:    #ccc
$silver-aaa:    #aaa
$silver-999:    #999
$grey-777:      #777
$grey-555:      #555
$grey-444:      #444

$black-03:      rgba(0, 0, 0, .3)

$purple:        #7233ff
$blue:          #299bec
$green:         #65c44c
$orange:        #f5a65b
$salmon:        #fd8f64
$red:           #ff6f6f
$yellow:        #ffcd41

$shadow:        $white-ddd

// Notifications

$info-bg:       #d8e6ff
$info-fg:       #35657b
$error-bg:      #ecc8c5
$error-fg:      #ab1b19
$warning-bg:    #fbeebd
$warning-fg:    #b57c1c
$success-bg:    #d6f0cb
$success-fg:    #407729


$bindings: [['overview', $purple], ['inspector', $blue], ['actions', $green], ['data', $orange], ['handlers', $salmon], ['details' $yellow]]
