.handler-widget {
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: var(--box-shadow-card);
    width: 500px;

    @media (max-width: 1000px) {
        width: 100%;
    }

    &__header {
        background-color: var(--color-primary);
        color: var(--color-mono-light);
        padding: 0.6rem 1rem;

        &--color-0 {
            background: #682723;
        }

        &--color-1 {
            background: #125100;
        }

        &--color-2 {
            background: #9b6d00;
        }
    }

    &__body {
        padding: .5rem 0;
    }
}
