.attribute-widget {
    background: $white;
    padding: 10px 12px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 400px;

    &__text-body {
        flex-grow: 1;
    }

    &__title {
        font-weight: bold;
    }

    &__description {
        font-size: 13px;
    }

    &__value {
        background: $primary-background;
        font-weight: bold;
        font-size: 21px;
        padding: 5px 15px;
        border-radius: 10px;
        white-space: nowrap;
    }

    &__unit {
        font-weight: normal;
        font-size: 18px;
    }
}
