@import "./components/NavbarItem/NavbarItem";
@import "./components/NavbarLogo/NavbarLogo";
@import "./components/NavbarUser/NavbarUser";

.navbar {
    min-width: $navbar-max-width;
    height: 100vh;
    background: $white;

    &__header {
        height: 150px;
    }

    &__items {
        flex-grow: 1;
        height: 100%;
    }

    &--collapsed {
        min-width: $navbar-width-collapsed;
        transition: ease-in-out 200ms;
    }
}
