<div id="notifications-button" title="Display notification bar" onclick="window.app.notifications.show()"></div>
<div id="notifications-wrapper" class="hidden"><div id="notifications"></div></div>
<div id="resources">
    <img src="{{ url_for('static', filename='images/icons/info_blue.png') }}" alt="info">
    <img src="{{ url_for('static', filename='images/icons/ban.png') }}" alt="error">
    <img src="{{ url_for('static', filename='images/icons/warning.png') }}" alt="error">
    <img src="{{ url_for('static', filename='images/icons/close.png') }}" alt="error">
</div>
