.block-list
  &__add-button
    @extend .block-list-item
    width: 69px
    min-width: auto
    height: 69px
    border-radius: 100%
    background-image: url('/static/images/icons/plus.png')
    background-repeat: no-repeat
    background-position: center
    background-size: 60%
    cursor: pointer
    opacity: .8

@import 'block_list_item/block_list_item'
