<h2>List of configured devices</h2>
<div id="devices" class="tile-list">
    {% for device in devices %}<div class="tile" style="border-left: solid 5px {{'#0b0' if devices[device].is_connected() else '#ff6f6f'}}" onclick="showDialog('edit_device_{{device}}')">
        <img src="{{ url_for('static', filename='images/icons/types/'+devices[device].type+'.png') }}" alt="Device icon">
        <h3>{% if devices[device].get_label() %}<span style="text-transform: none">{{ devices[device].get_label() }}</span>{% else %}{{ devices[device].type }} device{% endif %} <span class="id">(id:{{ device }})</span></h3>
        <p class="description small">
            {# TODO: Description should be standardized #}
            {% if devices[device].connection and devices[device].connection.port %}
                {{ devices[device].connection.port }}
            {% elif devices[device].url %}
                {{ devices[device].url }}
            {% endif %}
        </p>
    </div>{% endfor %}<div class="tile add" title="Add new device" onclick="showDialog('choose_device_type')"></div>
</div>