@import "fonts"

body
  position: relative
  margin: 0
  background-color: #f1f0f6 !important
  min-height: 100vh
  padding-left: 320px
  font-family: $font1 !important
  color: #555555 !important

a
  text-decoration: none !important
  outline: none

  &:hover
    text-decoration: underline !important

label
  color: #555555
