@font-face {
  font-family: Cantarell;
  font-weight: 200;
  src: url("../fonts/Cantarell-Thin.otf") format("opentype");
}
@font-face {
  font-family: Cantarell;
  font-weight: 300;
  src: url("../fonts/Cantarell-Light.otf") format("opentype");
}
@font-face {
  font-family: Cantarell;
  src: url("../fonts/Cantarell-Regular.otf") format("opentype");
}
@font-face {
  font-family: Cantarell;
  font-weight: bold;
  src: url("../fonts/Cantarell-Bold.otf") format("opentype");
}
@font-face {
  font-family: Cantarell;
  font-weight: 900;
  src: url("../fonts/Cantarell-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: Cantarell;
  font-weight: 200;
  src: url("../fonts/Cantarell-Thin.otf") format("opentype");
}
@font-face {
  font-family: IndieFlower;
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
}
body {
  position: relative;
  margin: 0;
  background-color: #f1f0f6 !important;
  min-height: 100vh;
  padding-left: 320px;
  font-family: Cantarell, Verdana, sans-serif !important;
  color: #555555 !important;
}

a {
  text-decoration: none !important;
  outline: none;
}
a:hover {
  text-decoration: underline !important;
}

label {
  color: #555555;
}

body {
  height: 100vh;
}

nav {
  position: fixed;
  width: 320px;
  height: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  background-color: #f9fafc;
  font-family: Cantarell, Verdana, sans-serif;
  overflow: auto;
  z-index: 100;
}
nav h1 {
  margin: 0;
  font-weight: bold;
  color: #555555;
  font-size: 30px;
  padding-left: 10px;
  margin-bottom: 50px;
}
nav h5 {
  font-size: 14px;
  color: #9d9d9d;
  padding-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav ul {
  padding-left: 0;
}
nav ul li {
  display: block;
  height: 70px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color ease-in-out 200ms;
}
nav ul li:hover {
  box-shadow: 0 0 0 2px inset #f1f0f6;
}
nav ul li img {
  width: 50px;
  padding: 8px;
  border-radius: 25%;
  float: left;
  margin-right: 10px;
}
nav ul li .title {
  margin: 0;
  margin-top: 2px;
  color: #555;
  font-weight: 600;
}
nav ul li .description {
  font-size: 13px;
  margin: 0;
  color: #555;
  font-weight: 500;
}
nav ul .active {
  background-color: #f1f0f6;
}

#content-container {
  padding: 20px 40px;
  height: 100%;
  overflow: auto;
}
#content-container h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 7px;
}
#content-container title {
  display: block;
}

.tile {
  display: inline-block;
  background-color: white;
  padding: 20px 25px;
  border-radius: 15px;
  margin-right: 40px;
  margin-top: 20px;
  vertical-align: top;
  box-shadow: 2px 2px 3px #dfdfdf;
  transition: transform ease-in-out 50ms;
}
.tile h1 {
  font-size: 22px;
  color: #555;
  font-weight: bold;
}
.tile h3 {
  font-size: 17px;
}
.tile table {
  width: 100%;
}
.tile table th {
  color: #555;
  padding-top: 10px;
}
.tile table td {
  color: #777;
}
.tile pre {
  white-space: normal;
  background: #f1f0f6;
  padding: 12px;
  border-radius: 10px;
  margin-top: 15px;
}

.tile-list .tile {
  padding: 15px 15px !important;
  overflow: hidden;
  cursor: pointer;
  min-width: 250px;
}
.tile-list .tile:hover {
  transform: scale(1.03);
}
.tile-list .tile img {
  width: 38px;
  opacity: 0.6;
  float: left;
  margin-right: 5px;
}
.tile-list .tile h3 {
  white-space: nowrap;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 0;
  color: #555555;
}
.tile-list .tile h3 .id {
  text-transform: none;
  color: #b3b1b1;
  font-size: 14px;
}
.tile-list .tile .description {
  margin-bottom: 0;
  white-space: nowrap;
}
.tile-list .tile .notif {
  display: inline list-item;
  margin-left: 5px;
  font-size: 20px;
  float: right;
  top: -3px;
  position: relative;
}
.tile-list .add {
  height: 69px;
  width: 69px !important;
  min-width: auto;
  border-radius: 100% !important;
  cursor: pointer;
  background-image: url("/static/images/icons/plus.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

#overview .tile, #inspector .tile, #details .tile {
  width: calc(50% - 20px);
  margin-right: 0;
}
#overview .tile:nth-child(2n), #inspector .tile:nth-child(2n), #details .tile:nth-child(2n) {
  margin-left: 40px;
}

#inspector .chart-preview canvas {
  width: 100%;
  max-height: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#inspector button {
  color: #5e5e5e;
  display: inline-block;
  background: white;
  border: solid 1px white;
  padding: 8px 15px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #dfdfdf;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 17px;
}
#inspector .tile {
  cursor: pointer;
}

#data h3 {
  font-weight: bold;
  font-size: 17px;
  margin-top: 14px;
  margin-bottom: 2px;
}
#data h3 button {
  border-radius: 3px;
  color: #5e5e5e;
  font-size: 12px;
  background: white;
  display: inline-block;
  padding: 2px 8px;
  vertical-align: top;
  margin-left: 4px;
  margin-top: 1px;
  border: none;
  box-shadow: 0 0 2px #cacaca;
}
#data h3 button:hover {
  color: #2a2a2a;
  box-shadow: 0 0 2px #6c6c6c;
}
#data .attribute, #data .ghost {
  color: #5e5e5e;
  display: inline-block;
  background: white;
  border: solid 1px white;
  padding: 4px 11px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #dfdfdf;
  font-size: 12px;
  font-weight: bold;
}
#data .ghost {
  background: transparent;
  border: solid 1px #dbdbdb;
  color: #9b9b9b;
}

#handlers .tile h3 {
  margin-right: 50px;
}

#details table td, #details table th {
  width: 50%;
}
#details .cells div {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#details .cells div h3 {
  padding-top: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}
#details .cells div p {
  color: #777;
  margin: 0;
}
#details .cells div:nth-child(2n+1) {
  padding-right: 10px;
}
#details .cells div:nth-child(2n) {
  padding-left: 10px;
}

#dialog-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s cubic-bezier(0.62, 1.71, 1, 1.64), margin-top 0.2s step-start;
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), steps(1, start);
}
#dialog-container dialog {
  position: relative;
  border: none;
  border-radius: 20px;
  width: 600px;
  min-height: 400px;
  max-height: calc(100% - 100px);
  transition: 0.2s cubic-bezier(0.5, -0.7, 0.6, 1);
  padding: 25px 30px;
  background-color: #f1f0f6;
  overflow: auto;
}
#dialog-container dialog h1 {
  font-size: 22px;
  font-weight: bold;
  color: #555555;
}
#dialog-container dialog h1 .id {
  text-transform: none;
  color: #939393;
  font-size: 20px;
}
#dialog-container dialog .tile {
  margin-left: 0;
  margin-right: 30px;
  width: 240px;
}

.dialog-hidden {
  opacity: 0 !important;
  margin-top: -1000%;
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important;
}
.dialog-hidden dialog {
  transform: scale(0);
  opacity: 0;
}

#inspector-chart-view {
  position: fixed;
  border-radius: 20px;
  box-shadow: 0 0 0 7000px rgba(0, 0, 0, 0.1);
  background: white;
  top: 0;
  left: 0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 25px;
  transition: 0.4s cubic-bezier(0.5, -0.7, 0.6, 1);
  z-index: 150;
}
#inspector-chart-view .canvas-parent {
  height: 100%;
}
#inspector-chart-view .inspector-config-panel {
  width: 330px;
  padding: 15px 20px;
  position: absolute;
  background: white;
  box-shadow: 0 0 5px silver;
  border-radius: 20px;
  padding-left: 100px;
  top: 70px;
  left: -330px;
  transition: ease-in-out 100ms;
}
#inspector-chart-view .inspector-config-panel:hover {
  left: -100px;
}
#inspector-chart-view .inspector-config-panel h1 {
  font-size: 20px;
  font-weight: bold;
}
#inspector-chart-view .inspector-config-panel h2 {
  font-size: 17px;
  margin-top: 25px;
}
#inspector-chart-view .inspector-config-panel .view-label {
  width: 100%;
}

.inspector-chart-view-hidden {
  opacity: 0 !important;
  margin-top: -1000%;
  transform: scale(0);
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important;
}

.close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  cursor: pointer;
  opacity: 0.6;
}
.close-button:hover {
  opacity: 1;
}

#menu-button {
  position: fixed;
  top: 20px;
  right: 18px;
  width: 38px;
  opacity: 0.6;
  cursor: pointer;
  display: none;
}

@media (max-width: 1300px) {
  #overview .tile, #inspector .tile, #details .tile {
    width: 100%;
  }
  #overview .tile:nth-child(2n), #inspector .tile:nth-child(2n), #details .tile:nth-child(2n) {
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  body {
    padding-left: 0;
  }

  nav {
    display: none;
    width: 100%;
  }

  .visible {
    display: block;
  }

  #menu-button {
    display: block;
  }

  #content-container {
    padding: 20px;
  }

  #inspector-chart-view {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .close-button {
    top: 15px;
  }

  #handlers.tile-list .tile {
    width: 100%;
    margin-right: 0;
  }
  #handlers.tile-list .add {
    display: block;
    margin: 30px auto;
  }

  #details .cells div {
    width: 100%;
  }
  #details .cells div:nth-child(2n+1) {
    padding-right: 0;
  }
  #details .cells div:nth-child(2n) {
    padding-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
