@font-face {
  font-family: Cantarell;
  font-weight: 200;
  src: url("../fonts/Cantarell-Thin.otf") format("opentype");
}
@font-face {
  font-family: Cantarell;
  font-weight: 300;
  src: url("../fonts/Cantarell-Light.otf") format("opentype");
}
@font-face {
  font-family: Cantarell;
  src: url("../fonts/Cantarell-Regular.otf") format("opentype");
}
@font-face {
  font-family: Cantarell;
  font-weight: bold;
  src: url("../fonts/Cantarell-Bold.otf") format("opentype");
}
@font-face {
  font-family: Cantarell;
  font-weight: 900;
  src: url("../fonts/Cantarell-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: IndieFlower;
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-weight: 700;
  src: url("../fonts/RobotoMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-weight: 900;
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype");
}
body {
  position: relative;
  margin: 0;
  background-color: #f1f0f6 !important;
  min-height: 100vh;
  padding-left: 320px;
  font-family: Cantarell, Verdana, sans-serif !important;
  color: #555555 !important;
}

a {
  text-decoration: none !important;
  outline: none;
}
a:hover {
  text-decoration: underline !important;
}

label {
  color: #555555;
}

body {
  height: 100vh;
}

#menu {
  position: fixed;
  width: 325px;
  height: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  background-color: #f9fafc;
  font-family: Cantarell, Verdana, sans-serif;
  overflow: auto;
  z-index: 100;
}
#menu h1 {
  font-weight: bold;
  color: #555555;
  font-size: 30px;
  padding-left: 10px;
  margin: 0 0 40px;
}
#menu h1 .logo {
  width: 27px;
  margin-bottom: 6px;
  margin-left: 9px;
  opacity: 0.7;
}
#menu h5 {
  font-size: 14px;
  color: #9d9d9d;
  padding-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#menu ul {
  padding-left: 0;
}
#menu ul li {
  display: block;
  height: 70px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color ease-in-out 200ms;
}
#menu ul li:hover {
  box-shadow: 0 0 0 2px inset #f1f0f6;
}
#menu ul li img {
  width: 50px;
  padding: 8px;
  border-radius: 25%;
  float: left;
  margin-right: 10px;
}
#menu ul li .title {
  margin: 2px 0 0;
  color: #555;
  font-weight: 600;
}
#menu ul li .description {
  font-size: 13px;
  margin: 0;
  color: #555;
  font-weight: 500;
}
#menu ul .active {
  background-color: #f1f0f6;
}

#notifications-button {
  position: fixed;
  width: 34px;
  height: 34px;
  right: 26px;
  top: 26px;
  border-radius: 20px;
  border: solid 3px #555;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 27px;
  cursor: pointer;
  display: none;
}
#notifications-button.active {
  display: unset;
  background: #555;
  color: #f1f0f6;
}

#notifications-wrapper {
  position: fixed;
  right: -325px;
  top: 0;
  height: 100%;
  width: 325px;
  background: #f9fafc;
  transition: right ease-in-out 200ms;
}
#notifications-wrapper.visible {
  right: 0;
}
#notifications-wrapper.visible .notification.active {
  left: 0;
}
#notifications-wrapper .notification {
  background: #cde8f5;
  margin: 15px;
  border-radius: 7px;
  padding: 0 10px;
  position: relative;
  transition: all ease-in-out 200ms;
  left: 0;
  color: #35657b;
}
#notifications-wrapper .notification:hover span {
  opacity: 0.6;
}
#notifications-wrapper .notification div {
  display: block;
  width: 35px;
  height: 35px;
  float: left;
  margin-top: 15px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/images/icons/info_blue.png");
  opacity: 0.5;
  margin-left: 5px;
  margin-right: 10px;
}
#notifications-wrapper .notification.error {
  background: #ecc8c5;
  color: #ab1b19;
}
#notifications-wrapper .notification.error div {
  background-image: url("/static/images/icons/ban.png");
}
#notifications-wrapper .notification.warning {
  background: #fbeebd;
  color: #b57c1c;
}
#notifications-wrapper .notification.warning div {
  background-image: url("/static/images/icons/warning.png");
}
#notifications-wrapper .notification.success {
  background: #d6f0cb;
  color: #407729;
}
#notifications-wrapper .notification.success div {
  background-image: url("/static/images/icons/success.png");
}
#notifications-wrapper .notification h3 {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  display: block;
  margin-bottom: 4px;
}
#notifications-wrapper .notification p {
  padding-left: 50px;
  padding-bottom: 11px;
  line-height: 20px;
  margin-top: 0;
  font-size: 14px;
}
#notifications-wrapper .notification span {
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  right: 15px;
  top: 15px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/images/icons/close.png");
  cursor: pointer;
  opacity: 0.1;
  transition: opacity 200ms ease-in-out;
}
#notifications-wrapper .notification span:hover {
  transform: scale(1.1);
}
#notifications-wrapper .notification.active {
  left: -325px;
}
#notifications-wrapper .notification.removed {
  opacity: 0;
}

#resources {
  display: none;
}

#content-container {
  padding: 20px 40px;
  height: 100%;
  overflow: auto;
}
#content-container h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 7px;
}
#content-container h3 {
  font-weight: bold;
  font-size: 17px;
  margin-top: 14px;
  margin-bottom: 2px;
}
#content-container title {
  display: block;
}
#content-container button {
  color: #5e5e5e;
  display: inline-block;
  background: white;
  border: none;
  padding: 8px 15px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #dfdfdf;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 17px;
}
#content-container button img {
  width: 17px;
  vertical-align: top;
  margin-right: 8px;
  opacity: 0.7;
  margin-top: 4px;
}
#content-container button:hover {
  background: #fafafa;
  box-shadow: 1px 1px 3px #bdbdbd;
}

.tile {
  display: inline-block;
  background-color: white;
  padding: 20px 25px;
  border-radius: 15px;
  margin-right: 40px;
  margin-top: 20px;
  vertical-align: top;
  box-shadow: 2px 2px 3px #dfdfdf;
  transition: transform ease-in-out 50ms;
}
.tile h1 {
  font-size: 22px;
  color: #555;
  font-weight: bold;
}
.tile h3 {
  font-size: 17px;
}
.tile table {
  width: 100%;
}
.tile table th {
  color: #555;
  padding-top: 10px;
}
.tile table td {
  color: #777;
}
.tile pre {
  white-space: normal;
  background: #f1f0f6;
  padding: 12px;
  border-radius: 10px;
  margin-top: 15px;
}

.tile-list .tile {
  padding: 15px 15px !important;
  overflow: hidden;
  cursor: pointer;
  min-width: 250px;
}
.tile-list .tile:hover {
  transform: scale(1.03);
}
.tile-list .tile img {
  width: 38px;
  opacity: 0.6;
  float: left;
  margin-right: 5px;
}
.tile-list .tile .title {
  white-space: nowrap;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 0;
  color: #555555;
  margin-right: 50px;
  line-height: 1.2;
}
.tile-list .tile .title .id {
  text-transform: none;
  color: #b3b1b1;
  font-size: 14px;
}
.tile-list .tile .description {
  margin-bottom: 0;
  white-space: nowrap;
}
.tile-list .tile .notif {
  display: inline list-item;
  margin-left: 5px;
  font-size: 20px;
  float: right;
  top: -3px;
  position: relative;
}
.tile-list .add {
  height: 69px;
  width: 69px !important;
  min-width: auto;
  border-radius: 100% !important;
  cursor: pointer;
  background-image: url("../images/icons/plus.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

#overview .tile, #inspector .tile, #details .tile {
  width: calc(50% - 20px);
  margin-right: 0;
}
#overview .tile:nth-child(2n), #inspector .tile:nth-child(2n), #details .tile:nth-child(2n) {
  margin-left: 40px;
}

#overview table {
  display: inline-table;
  width: 100%;
  margin-top: 20px;
  background: white;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  font-size: 15px;
  box-shadow: 2px 2px 3px #dfdfdf;
}
#overview table tr:first-child {
  box-shadow: 0 0 8px #e8e8e8;
}
#overview table tr:first-child th {
  font-size: 12px !important;
  font-weight: 800 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#overview table tr:nth-child(2n+3) {
  background: #f8f9ff;
}
#overview table tr:hover td:last-child span {
  white-space: normal;
}
#overview table tr td, #overview table tr th {
  padding: 10px 0;
}
#overview table tr td:first-child, #overview table tr th:first-child {
  padding-left: 22px;
  width: 110px;
  text-transform: uppercase;
  font-size: 12px;
}
#overview table tr td:nth-child(2) span, #overview table tr th:nth-child(2) span {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  width: 60px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  line-height: 23px;
}
#overview table tr td:nth-child(3), #overview table tr th:nth-child(3) {
  font-weight: bold;
}
#overview table tr td .json, #overview table tr th .json {
  background: #f5a65b;
}
#overview table tr td .event, #overview table tr th .event {
  background: #7233ff;
}
#overview table tr td:last-child, #overview table tr th:last-child {
  max-width: 750px;
}
#overview table tr td:last-child span, #overview table tr th:last-child span {
  font-size: 12px;
  white-space: nowrap;
  font-family: "Roboto Mono", monospace;
  position: relative;
  top: -2px;
}
#overview table tr .in, #overview table tr .out {
  font-weight: bold;
  color: #65c44c;
}
#overview table tr .out {
  color: #299bec;
}
#overview table tr .id {
  font-family: "Roboto Mono", monospace;
  color: grey;
  font-size: 12px;
  font-weight: 900;
  position: relative;
  top: -1px;
  display: inline-block;
}
#overview table tr .event-label {
  color: #7233ff;
  font-weight: 900 !important;
  top: unset !important;
}

#inspector .chart-preview canvas {
  width: 100%;
  max-height: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#inspector .tile {
  cursor: pointer;
  min-height: 210px;
}
#inspector .tile:hover {
  background: #fafafa;
  box-shadow: 1px 1px 3px #bdbdbd;
}

#actions #event-listeners .tile .workflow-icon, #actions #event-listeners .tile .workflow-id {
  float: right;
  background: #f1f0f6;
  width: 28px;
  padding: 4px;
  border: solid 1px silver;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 0;
}
#actions #event-listeners .tile .workflow-id {
  background: #cfffc3;
  width: unset;
  min-width: 28px;
  line-height: 17px;
  text-align: center;
  font-weight: bold;
}
#actions #workflows {
  margin-top: 30px;
}
#actions #workflows .workflow {
  position: relative;
  border-bottom: solid 1px #dbdbdb;
}
#actions #workflows .workflow:last-child {
  border-bottom: unset;
}
#actions #workflows .workflow .workflow-id {
  min-width: 28px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  border: solid 1px silver;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  line-height: 36px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}
#actions #workflows .workflow .workflow-id-connected {
  background: #cfffc3;
}
#actions #workflows .workflow .workflow-routine {
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 3px #dfdfdf;
  height: 51px;
  vertical-align: middle;
  border-radius: 10px;
  background: white;
  margin-left: 10px;
  padding: 2px 20px 0;
  text-align: center;
  cursor: pointer;
}
#actions #workflows .workflow .workflow-routine:hover .arrow-left, #actions #workflows .workflow .workflow-routine:hover .arrow-right {
  display: flex;
}
#actions #workflows .workflow .workflow-routine .name {
  font-weight: bold;
  margin: 0 7px;
}
#actions #workflows .workflow .workflow-routine .description {
  font-size: 13px;
  margin: 1px 7px 0;
}
#actions #workflows .workflow .workflow-routine .arrow-left, #actions #workflows .workflow .workflow-routine .arrow-right {
  display: none;
  height: 100%;
  width: 28px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
#actions #workflows .workflow .workflow-routine .arrow-left img, #actions #workflows .workflow .workflow-routine .arrow-right img {
  height: 15px;
  margin: auto;
}
#actions #workflows .workflow .workflow-routine .arrow-left:hover img, #actions #workflows .workflow .workflow-routine .arrow-right:hover img {
  filter: brightness(0.8);
}
#actions #workflows .workflow .workflow-routine .arrow-right {
  right: 0;
  left: unset;
}
#actions #workflows .workflow .workflow-routine .arrow-right img {
  transform: scaleX(-1);
}
#actions #workflows .workflow .add-routine, #actions #workflows .workflow .delete-routine {
  width: 40px;
  height: 40px;
  background: #fff;
  vertical-align: middle;
  border: solid 1px #c4c4c4;
  border-radius: 10px;
  opacity: 0.5;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
}
#actions #workflows .workflow .add-routine:hover, #actions #workflows .workflow .delete-routine:hover {
  opacity: 0.9;
}
#actions #workflows .workflow .delete-routine {
  position: absolute;
  right: 0;
  top: 20px;
  border: solid 1px transparent;
  background: none;
}

#data .settings {
  border-radius: 3px;
  color: #5e5e5e;
  font-size: 12px;
  background: white;
  display: inline-block;
  padding: 2px 8px;
  vertical-align: top;
  margin-left: 4px;
  margin-top: 1px;
  border: none;
  box-shadow: 0 0 2px #cacaca;
  font-weight: normal;
  margin-bottom: 0;
}
#data .settings:hover {
  color: #2a2a2a;
  box-shadow: 0 0 2px #6c6c6c;
}
#data .attribute, #data .ghost {
  padding: 4px 11px;
  margin-right: 5px;
  font-size: 12px;
}
#data .ghost {
  background: transparent;
  border: solid 1px #dbdbdb;
  color: #9b9b9b;
}

#details table td, #details table th {
  width: 50%;
}
#details .cells div {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#details .cells div p {
  color: #777;
  margin: 0;
}
#details .cells div p:nth-child(2n+1) {
  padding-top: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  color: unset;
  line-height: 1.2;
  font-size: 17px;
}
#details .cells div:nth-child(2n+1) {
  padding-right: 10px;
}
#details .cells div:nth-child(2n) {
  padding-left: 10px;
}

#dialog-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s cubic-bezier(0.62, 1.71, 1, 1.64), margin-top 0.2s step-start;
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), steps(1, start);
  z-index: 100;
}
#dialog-container dialog {
  position: relative;
  border: none;
  border-radius: 20px;
  width: 600px;
  min-height: 400px;
  max-height: calc(100% - 100px);
  transition: 0.2s cubic-bezier(0.5, -0.7, 0.6, 1);
  padding: 25px 30px;
  background-color: #f1f0f6;
  overflow: auto;
  color: #555555;
}
#dialog-container dialog h1 {
  font-size: 22px;
  font-weight: bold;
  color: #555555;
}
#dialog-container dialog h1 .id {
  text-transform: none;
  color: #939393;
  font-size: 20px;
}
#dialog-container dialog .tile {
  margin-right: 0;
  width: 260px;
}
#dialog-container dialog .tile:nth-child(2n) {
  margin-left: 20px;
}
#dialog-container dialog .tile h3 {
  font-weight: bold;
}

.dialog-hidden {
  opacity: 0 !important;
  margin-top: -1000%;
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important;
}
.dialog-hidden dialog {
  transform: scale(0);
  opacity: 0;
}

#inspector-chart-view {
  position: fixed;
  border-radius: 20px;
  box-shadow: 0 0 0 7000px rgba(0, 0, 0, 0.1);
  background: white;
  top: 0;
  left: 0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 25px;
  transition: 0.4s cubic-bezier(0.5, -0.7, 0.6, 1);
  z-index: 150;
}
#inspector-chart-view .canvas-parent {
  height: 100%;
}
#inspector-chart-view .close-button, #inspector-chart-view .settings-button {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 25px;
  cursor: pointer;
  opacity: 0.6;
}
#inspector-chart-view .close-button:hover, #inspector-chart-view .settings-button:hover {
  opacity: 1;
}
#inspector-chart-view .settings-button {
  right: unset;
  left: 25px;
}
#inspector-chart-view #inspector-config-panel {
  width: 330px;
  position: absolute;
  background: white;
  box-shadow: 0 0 5px silver;
  border-radius: 20px;
  padding: 15px 20px 15px 20px;
  top: 70px;
  transition: ease-in-out 100ms;
  display: none;
  overflow: auto;
}
#inspector-chart-view #inspector-config-panel .close-button, #inspector-chart-view #inspector-config-panel .settings-button {
  width: 20px;
}
#inspector-chart-view #inspector-config-panel h1 {
  font-size: 20px;
  font-weight: bold;
}
#inspector-chart-view #inspector-config-panel h2 {
  font-size: 17px;
  margin-top: 15px;
}
#inspector-chart-view #inspector-config-panel .view-label {
  width: 100%;
}
#inspector-chart-view #inspector-config-panel #date-select {
  width: 100%;
  margin-bottom: 20px;
}

.inspector-chart-view-hidden {
  opacity: 0 !important;
  margin-top: -1000%;
  transform: scale(0);
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important;
}

#menu-button {
  position: fixed;
  top: 20px;
  right: 18px;
  width: 38px;
  opacity: 0.6;
  cursor: pointer;
  display: none;
}

@media (max-width: 1300px) {
  #overview .tile, #inspector .tile, #details .tile {
    width: 100%;
  }
  #overview .tile:nth-child(2n), #inspector .tile:nth-child(2n), #details .tile:nth-child(2n) {
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  body {
    padding-left: 0;
  }

  nav {
    display: none;
    width: 100%;
  }

  .visible {
    display: block;
  }

  #menu-button {
    display: block;
  }

  #content-container {
    padding: 20px;
  }

  #inspector-chart-view {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  #inspector-chart-view .close-button, #inspector-chart-view .settings-button {
    top: 15px;
  }
  #inspector-chart-view .settings-button {
    display: unset;
    top: 15px;
  }
  #inspector-chart-view #inspector-config-panel {
    padding: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  #inspector-chart-view .mobile-top-panel {
    text-align: right;
  }
  #inspector-chart-view .mobile-top-panel .close-button, #inspector-chart-view .mobile-top-panel .settings-button {
    position: relative;
    left: 0;
    top: 0;
    width: 25px !important;
    cursor: pointer;
    opacity: 0.6;
  }

  #handlers.tile-list .tile {
    width: 100%;
    margin-right: 0;
  }
  #handlers.tile-list .add {
    display: block;
    margin: 30px auto;
  }

  #details .cells div {
    width: 100%;
  }
  #details .cells div:nth-child(2n+1) {
    padding-right: 0;
  }
  #details .cells div:nth-child(2n) {
    padding-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
