@import "defaults"

body
  height: 100vh

.clickable
  cursor: pointer

#menu
  position: fixed
  width: 325px
  height: 100%
  left: 0
  top: 0
  padding: 20px
  background-color: #f9fafc
  font-family: $font1
  overflow: auto
  z-index: 100

  h1
    font-weight: bold
    color: #555555
    font-size: 30px
    padding-left: 10px
    margin: 0 0 40px

    .logo
      width: 27px
      margin-bottom: 6px
      margin-left: 9px
      opacity: 0.7

  h5
    font-size: 14px
    color: #9d9d9d
    padding-left: 10px
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 1px

  ul
    padding-left: 0

    li
      display: block
      height: 70px
      padding: 10px
      cursor: pointer
      border-radius: 10px
      transition: background-color ease-in-out 200ms

      &:hover
        //background-color: #f1f0f6
        box-shadow: 0 0 0 2px inset #f1f0f6

      img
        width: 50px
        padding: 8px
        border-radius: 25%
        float: left
        margin-right: 10px

      .title
        margin: 2px 0 0
        color: #555
        font-weight: 600

      .description
        font-size: 13px
        margin: 0
        color: #555
        font-weight: 500

    .active
      background-color: #f1f0f6

#notifications-button
  position: fixed
  width: 34px
  height: 34px
  right: 26px
  top: 24px
  border-radius: 20px
  border: solid 3px #555
  font-size: 20px
  font-weight: bold
  text-align: center
  line-height: 27px
  cursor: pointer
  display: none
  z-index: 1

  &.active
    display: unset
    background: #555
    color: #f1f0f6

#notifications-wrapper
  position: fixed
  right: -325px
  top: 0
  height: 100%
  width: 325px
  background: #f9fafc
  transition: right ease-in-out 200ms
  z-index: 2

  &.visible
    right: 0

    .notification.active
        left: 0

  .notification
    background: #cde8f5
    margin: 15px
    border-radius: 7px
    padding: 0 10px
    position: relative
    transition: all ease-in-out 200ms
    left: 0
    color: #35657b

    &:hover
      span
        opacity: 0.6

    div
      display: block
      width: 35px
      height: 35px
      float: left
      margin-top: 15px
      background-size: cover
      background-position: center
      background-image: url("/static/images/icons/info_blue.png")
      opacity: 0.5
      margin-left: 5px
      margin-right: 10px

    &.error
      background: #ecc8c5
      color: #ab1b19

      div
        background-image: url("/static/images/icons/ban.png")

    &.warning
      background: #fbeebd
      color: #b57c1c

      div
        background-image: url("/static/images/icons/warning.png")

    &.success
      background: #d6f0cb
      color: #407729

      div
        background-image: url("/static/images/icons/success.png")

    h3
      font-size: 16px
      font-weight: bold
      padding-top: 10px
      display: block
      margin-bottom: 4px

    p
      padding-left: 50px
      padding-bottom: 11px
      line-height: 20px
      margin-top: 0
      font-size: 14px

    span
      position: absolute
      display: block
      width: 11px
      height: 11px
      right: 15px
      top: 15px
      background-size: cover
      background-position: center
      background-image: url("/static/images/icons/close.png")
      cursor: pointer
      opacity: 0.1
      transition: opacity 200ms ease-in-out

      &:hover
        transform: scale(1.1)

    &.active
      left: -325px

    &.removed
      opacity: 0

#resources
  display: none

#content-container
  padding: 20px 40px
  height: 100%
  overflow: auto

  h2
    font-size: 22px
    font-weight: bold
    margin-top: 7px

  h3
    font-weight: bold
    font-size: 17px
    margin-top: 14px
    margin-bottom: 2px

  title
    display: block

  button
    color: #5e5e5e
    display: inline-block
    background: white
    border: none
    padding: 8px 15px
    margin-top: 10px
    margin-right: 10px
    border-radius: 20px
    box-shadow: 1px 1px 3px #dfdfdf
    font-size: 16px
    font-weight: bold
    margin-bottom: 17px

    img
      width: 17px
      vertical-align: top
      margin-right: 8px
      opacity: 0.7
      margin-top: 4px

    &:hover
      background: #fafafa
      box-shadow: 1px 1px 3px #bdbdbd

.tile
  display: inline-block
  background-color: white
  padding: 20px 25px
  border-radius: 15px
  margin-right: 20px
  margin-top: 20px
  vertical-align: top
  box-shadow: 2px 2px 3px #dfdfdf
  transition: transform ease-in-out 50ms

  h1
    font-size: 22px
    color: #555
    font-weight: bold

  h3
    font-size: 17px

  table
    width: 100%


    th
      color: #555
      padding-top: 10px

    td
      color: #777

  pre
    white-space: normal
    background: #f1f0f6
    padding: 12px
    border-radius: 10px
    margin-top: 15px

.tile-list
  .tile
    position: relative
    padding: 15px 15px !important
    overflow: hidden
    cursor: pointer
    max-width: 280px

    &:hover
      transform: scale(1.03)

    img
      width: 38px
      opacity: 0.6
      float: left
      margin-right: 5px

    .title
      white-space: nowrap
      font-size: 15px
      font-weight: bolder
      margin-bottom: 0
      color: #555555
      margin-right: 50px
      line-height: 1.2

      .id
        text-transform: none
        color: #b3b1b1
        font-size: 14px

    .description
      margin-bottom: 0
      white-space: nowrap
      padding-right: 50px

    .notif
      display: inline list-item
      margin-left: 5px
      font-size: 20px
      float: right
      top: -3px
      position: relative

  .add
    height: 69px
    width: 69px !important
    min-width: auto
    border-radius: 100% !important
    cursor: pointer
    background-image: url("../images/icons/plus.png")
    background-size: 60%
    background-repeat: no-repeat
    background-position: center
    opacity: 0.8

  .tile-button
    padding: 8px 15px !important
    margin-right: 5px !important
    font-size: 15px !important

  .warning
    color: #b9231c !important

#overview, #inspector, #details
  .tile
    width: calc(50% - 20px)
    margin-right: 0

    &:nth-child(2n)
      margin-left: 40px

#overview
  table
    display: inline-table
    width: 100%
    margin-top: 20px
    background: white
    border-collapse: collapse
    border-radius: 15px
    overflow: hidden
    font-size: 15px
    box-shadow: 2px 2px 3px #dfdfdf

    tr
      &:first-child
        box-shadow: 0 0 8px #e8e8e8

        th
          font-size: 12px !important
          font-weight: 800 !important
          letter-spacing: 1px
          text-transform: uppercase

      &:nth-child(2n+3)
        background: #f8f9ff

      .status
        padding-left: 22px
        width: 140px
        text-transform: uppercase
        font-size: 12px

        .inspect
          width: 20px
          opacity: 0.6
          margin-bottom: -5px
          margin-top: -7px
          margin-left: 6px
          filter: sepia(100%) saturate(100) hue-rotate(-150deg) brightness(1)

          &:hover
            opacity: 0.8

      .type
        width: 80px

        span
          color: white
          font-weight: bold
          text-transform: uppercase
          font-size: 12px
          width: 60px
          display: inline-block
          text-align: center
          border-radius: 3px
          line-height: 23px

      .handler
        font-weight: bold
        min-width: 250px

        .icon
          width: 30px
          margin-bottom: -10px
          margin-top: -14px
          opacity: 0.6

      .data
        max-width: calc(100vw - 950px)

        span
          font-size: 12px
          white-space: nowrap
          font-family: $font2
          position: relative
          top: -2px

        &:hover
          span
            white-space: normal

      .time
        width: 90px

      td, th
        padding: 10px 0

        .json
          background: #f5a65b

        .event
          background: #7233ff

        .text
          background: gray

      .in
        font-weight: bold
        color: #65c44c

      .out
        @extend .in
        color: #299bec

      .id
        font-family: $font2
        color: grey
        font-size: 12px
        font-weight: 900
        position: relative
        top: -1px
        display: inline-block

      .event-label
        color: #7233ff
        font-weight: 900 !important
        top: unset !important

#inspector
  .chart-preview
    canvas
      width: 100%
      max-height: 100px
      margin-top: 30px
      margin-bottom: 10px

  .tile
    cursor: pointer
    min-height: 210px

    &:hover
      background: #fafafa
      box-shadow: 1px 1px 3px #bdbdbd

#actions
  #event-listeners
    .tile
      padding-right: 55px !important

      &::before
        @extend .white-edge
        width: 40px

      .workflow-icon
        float: right
        background: #f1f0f6
        width: 28px
        padding: 4px
        border: solid 1px silver
        border-radius: 5px
        position: absolute
        right: 17px
        top: 21px

      .workflow-id
        @extend .workflow-icon
        background: #cfffc3
        width: unset
        min-width: 28px
        line-height: 17px
        text-align: center
        font-weight: bold

  #workflows
    margin-top: 30px

    .workflow
      position: relative
      border-bottom: solid 1px #dbdbdb
      padding-bottom: 15px

      &:last-child
        border-bottom: unset

      .workflow-id
        min-width: 28px
        text-align: center
        font-weight: bold
        display: inline-block
        border: solid 1px silver
        border-radius: 10px
        width: 40px
        height: 40px
        line-height: 36px
        font-size: 18px
        margin-right: 5px
        margin-top: 15px
        vertical-align: middle

      .workflow-id-connected
        background: #cfffc3

      .workflow-routine
        position: relative
        display: inline-block
        box-shadow: 2px 2px 3px #dfdfdf
        height: 51px
        vertical-align: middle
        border-radius: 10px
        background: white
        padding: 2px 20px 0
        text-align: center
        cursor: pointer
        margin: 15px 5px 0
        max-width: 250px
        overflow: hidden

        &::before
          @extend .white-edge

        &:hover
          .arrow-left
            display: flex

        &.active
          border: solid 2px #65c44c
          padding-bottom: 50px


        .log-index
          background: #65c44c
          margin-right: 5px
          border-radius: 11px
          color: white
          min-width: 22px
          display: inline-block
          height: 21px
          vertical-align: middle
          line-height: 19px
          text-align: center
          padding: 0 5px 0 6px

        .name
          font-weight: bold
          margin: 0 7px

        .description
          font-size: 13px
          margin: 1px 7px 0
          white-space: nowrap

        .arrow-left
          display: none
          height: 100%
          width: 28px
          overflow: hidden
          position: absolute
          left: 0
          top: 0
          cursor: pointer

          img
            height: 15px
            margin: auto

          &:hover
            img
              filter: brightness(0.8)

        .arrow-right
          @extend .arrow-left
          right: 0
          left: unset

          img
            transform: scaleX(-1)

      .add-routine
        width: 40px
        height: 40px
        background: #fff
        vertical-align: middle
        border: solid 1px #c4c4c4
        border-radius: 10px
        opacity: 0.5
        cursor: pointer
        margin-left: 5px
        margin-top: 15px
        padding: 5px

        &:hover
          opacity: 0.9

      .delete-routine
        @extend .add-routine
        position: absolute
        right: 0
        top: 5px
        border: solid 1px transparent
        background: none

#data
  .settings
    border-radius: 3px
    color: #5e5e5e
    font-size: 12px
    background: white
    display: inline-block
    padding: 2px 8px
    vertical-align: top
    margin-left: 4px
    margin-top: 1px
    border: none
    box-shadow: 0 0 2px #cacaca
    font-weight: normal
    margin-bottom: 0

    &:hover
      color: #2a2a2a
      box-shadow: 0 0 2px #6c6c6c

  .attribute
    padding: 4px 11px
    margin-right: 5px
    font-size: 12px

  .ghost
    @extend .attribute
    background: transparent
    border: solid 1px #dbdbdb
    color: #9b9b9b

#handlers.tile-list
  .tile::before
    @extend .white-edge

#details
  table
    td, th
      width: 50%

  .cells
    div
      width: 50%
      display: inline-block
      vertical-align: top

      p
        color: #777
        margin: 0

        &:nth-child(2n+1)
          padding-top: 15px
          font-weight: bold
          margin-bottom: 3px
          color: unset
          line-height: 1.2
          font-size: 17px

      &:nth-child(2n+1)
        padding-right: 10px

      &:nth-child(2n)
        padding-left: 10px

#dialog-container
  display: flex
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.3)
  transition: opacity 0.2s cubic-bezier(0.62, 1.71, 1, 1.64), margin-top 0.2s step-start
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), steps(1, start)
  z-index: 100

  dialog
    position: relative
    border: none
    border-radius: 20px
    width: 600px
    min-height: 400px
    max-height: calc(100% - 100px)
    transition: 0.2s cubic-bezier(.5,-.7,.6,1)
    padding: 25px 30px
    background-color: #f1f0f6
    overflow: auto
    color: #555555

    h1
      font-size: 22px
      font-weight: bold
      color: #555555
      //text-transform: capitalize

      .id
        text-transform: none
        color: #939393
        font-size: 20px

    .tile
      margin-right: 0
      width: 260px

      &:nth-child(2n)
        margin-left: 20px

      h3
        font-weight: bold

    textarea.configuration
      min-height: 235px
      font-family: $font2

.dialog-hidden
  opacity: 0 !important
  margin-top: -1000%
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important

  dialog
    transform: scale(0)
    opacity: 0

#inspector-chart-view
  position: fixed
  border-radius: 20px
  box-shadow: 0 0 0 7000px rgba(0, 0, 0, 0.1)
  background: white
  top: 0
  left: 0
  width: calc(100% - 50px)
  height: calc(100% - 50px)
  margin: 25px
  transition: 0.4s cubic-bezier(.5,-.7,.6,1)
  z-index: 150

  .canvas-parent
    height: 100%

  .close-button
    position: absolute
    top: 15px
    right: 25px
    width: 25px
    cursor: pointer
    opacity: 0.6

    &:hover
      opacity: 1

  .settings-button
    @extend .close-button
    right: unset
    left: 25px

  #inspector-config-panel
    width: 330px
    position: absolute
    background: white
    box-shadow: 0 0 5px silver
    border-radius: 20px
    padding: 15px 20px 15px 20px
    max-height: 100%
    transition: ease-in-out 100ms
    display: none
    overflow: auto

    .close-button
      width: 20px

    h1
      font-size: 20px
      font-weight: bold

    h2
      font-size: 17px
      margin-top: 15px

    .view-label
      width: 100%

    #date-select
      width: 100%
      margin-bottom: 20px

.inspector-chart-view-hidden
  opacity: 0 !important
  margin-top: -1000%
  transform: scale(0)
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important

#menu-button
  position: fixed
  top: 22px
  right: 18px
  width: 38px
  opacity: 0.6
  cursor: pointer
  display: none

@media (max-width: 1300px)
  #overview, #inspector, #details
    .tile
      width: 100%

      &:nth-child(2n)
        margin-left: 0

@media (max-width: 900px)
  body
    padding-left: 0
  #menu
    display: none
    width: 100%

  #menu.visible
    display: block

  #notifications-button
    right: 70px

  #menu-button
    display: block

  #content-container
    padding: 20px

  #overview
    position: relative
    overflow: unset

    table
      border-radius: 0
      background: none
      position: relative
      display: block
      box-shadow: none
      overflow: unset
      margin-top: 30px

      tbody
        display: block

      tr
        max-width: 100%
        background: white !important
        margin-bottom: 10px
        display: block
        border-radius: 15px
        box-shadow: 2px 2px 3px #dfdfdf
        overflow: auto

      tr:first-child
        display: none

      td
        display: inline-block
        max-width: unset !important
        min-width: unset !important

        &:nth-child(1)
          margin-right: 10px

        &:nth-child(2)
          margin-right: 10px

        &:nth-child(4)
          display: block
          margin-left: 20px
          padding: 0

        &:last-child
          display: block
          margin-left: 20px

  #inspector-chart-view
    border-radius: 0
    box-shadow: none
    margin: 0
    width: 100%
    height: 100%

    .close-button
      top: 15px

    .settings-button
      display: unset
      top: 15px

    #inspector-config-panel
      padding: 20px
      left: 0
      top: 0
      width: 100%
      height: 100%
      border-radius: 0

    .mobile-top-panel
      text-align: right

      .close-button
        position: relative
        left: 0
        top: 0
        width: 25px !important
        cursor: pointer
        opacity: 0.6

  #handlers.tile-list
    .add
      display: block

  #details
    .cells
      div
        width: 100%

        &:nth-child(2n+1)
          padding-right: 0

        &:nth-child(2n)
          padding-left: 0

@media (max-width: 550px)
  .tile-list
    .tile
      max-width: unset
      width: 100% !important
      margin-left: 0 !important
    .add
      margin: 20px auto !important
      width: 69px !important
