@import "defaults"

#menuu
  //position: fixed
  //width: 325px
  //height: 100%
  //left: 0
  //top: 0
  //padding: 20px
  //background-color: #f9fafc
  //font-family: $font1
  //overflow: auto
  //z-index: 100

  //h1
  //  font-weight: bold
  //  color: #555555
  //  font-size: 30px
  //  padding-left: 10px
  //  margin: 0 0 40px
  //
  //  .logo
  //    width: 27px
  //    margin-bottom: 6px
  //    margin-left: 9px
  //    opacity: 0.7

  //h5
  //  font-size: 14px
  //  color: #9d9d9d
  //  padding-left: 10px
  //  font-weight: 600
  //  text-transform: uppercase
  //  letter-spacing: 1px

  //ul
  //  padding-left: 0
  //
  //  li
  //    display: block
  //    height: 70px
  //    padding: 10px
  //    cursor: pointer
  //    border-radius: 10px
  //    transition: background-color ease-in-out 200ms
  //
  //    &:hover
  //      //background-color: #f1f0f6
  //      box-shadow: 0 0 0 2px inset #f1f0f6
  //
  //    img
  //      width: 50px
  //      padding: 8px
  //      border-radius: 25%
  //      float: left
  //      margin-right: 10px
  //
  //    .title
  //      margin: 2px 0 0
  //      color: #555
  //      font-weight: 600
  //
  //    .description
  //      font-size: 13px
  //      margin: 0
  //      color: #555
  //      font-weight: 500
  //
  //  .active
  //    background-color: #f1f0f6

#notifications-button
  display: none
  position: fixed
  top: 24px
  right: 26px
  width: 34px
  height: 34px
  border: solid 3px #555
  border-radius: 20px
  font-size: 20px
  font-weight: bold
  line-height: 27px
  text-align: center
  cursor: pointer
  z-index: 1

  &.active
    display: unset
    background: #555
    color: #f1f0f6

#notifications-wrapper
  position: fixed
  top: 0
  right: -325px
  width: 325px
  height: 100%
  transition: right ease-in-out 200ms
  background: #f9fafc
  z-index: 2

  &.visible
    right: 0

    .notification.active
        left: 0

  .notification
    position: relative
    left: 0
    margin: 15px
    padding: 0 10px
    transition: all ease-in-out 200ms
    border-radius: 7px
    background: #cde8f5
    color: #35657b

    &:hover
      span
        opacity: 0.6

    div
      display: block
      width: 35px
      height: 35px
      margin-top: 15px
      margin-right: 10px
      margin-left: 5px
      float: left
      background-image: url("/static/images/icons/info_blue.png")
      background-position: center
      background-size: cover
      opacity: 0.5

    &.error
      background: #ecc8c5
      color: #ab1b19

      div
        background-image: url("/static/images/icons/ban.png")

    &.warning
      background: #fbeebd
      color: #b57c1c

      div
        background-image: url("/static/images/icons/warning.png")

    &.success
      background: #d6f0cb
      color: #407729

      div
        background-image: url("/static/images/icons/success.png")

    h3
      display: block
      margin-bottom: 4px
      padding-top: 10px
      font-size: 16px
      font-weight: bold

    p
      margin-top: 0
      padding-bottom: 11px
      padding-left: 50px
      font-size: 14px
      line-height: 20px

    span
      display: block
      position: absolute
      top: 15px
      right: 15px
      width: 11px
      height: 11px
      transition: opacity 200ms ease-in-out
      background-image: url("/static/images/icons/close.png")
      background-position: center
      background-size: cover
      cursor: pointer
      opacity: 0.1

      &:hover
        transform: scale(1.1)

    &.active
      left: -325px

    &.removed
      opacity: 0

#resources
  display: none

#content-container
  height: 100%
  padding: 20px 40px
  overflow: auto

  h2
    margin-top: 7px
    font-size: 22px
    font-weight: bold

  h3
    margin-top: 14px
    margin-bottom: 2px
    font-size: 17px
    font-weight: bold

  title
    display: block

  button
    display: inline-block
    margin-top: 10px
    margin-right: 10px
    margin-bottom: 17px
    padding: 8px 15px
    border: 0
    border-radius: 20px
    background: #ffffff
    color: #5e5e5e
    font-size: 16px
    font-weight: bold
    box-shadow: 1px 1px 3px #dfdfdf

    img
      width: 17px
      margin-top: 4px
      margin-right: 8px
      opacity: 0.7
      vertical-align: top

    &:hover
      background: #fafafa
      box-shadow: 1px 1px 3px #bdbdbd

.tile
  display: inline-block
  margin-top: 20px
  margin-right: 20px
  padding: 20px 25px
  transition: transform ease-in-out 50ms
  border-radius: 15px
  background-color: #ffffff
  box-shadow: 2px 2px 3px #dfdfdf
  vertical-align: top

  h1
    color: #555
    font-size: 22px
    font-weight: bold

  h3
    font-size: 17px

  table
    width: 100%


    th
      padding-top: 10px
      color: #555

    td
      color: #777

  pre
    margin-top: 15px
    padding: 12px
    border-radius: 10px
    background: #f1f0f6
    white-space: normal

.tile-list
  .tile
    position: relative
    max-width: 280px
    padding: 15px 15px !important
    cursor: pointer
    overflow: hidden

    &:hover
      transform: scale(1.03)

    img
      width: 38px
      margin-right: 5px
      float: left
      opacity: 0.6

    .title
      margin-right: 50px
      margin-bottom: 0
      color: #555
      font-size: 15px
      font-weight: bolder
      line-height: 1.2
      white-space: nowrap

      .id
        color: #b3b1b1
        font-size: 14px
        text-transform: none

    .description
      margin-bottom: 0
      padding-right: 50px
      white-space: nowrap

    .notif
      display: inline list-item
      position: relative
      top: -3px
      margin-left: 5px
      float: right
      font-size: 20px

  .add
    width: 69px !important
    min-width: auto
    height: 69px
    border-radius: 100% !important
    background-image: url("../images/icons/plus.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 60%
    cursor: pointer
    opacity: 0.8

  .tile-button
    margin-right: 5px !important
    padding: 8px 15px !important
    font-size: 15px !important

  .warning
    color: #b9231c !important

#overview, #inspector, #details
  .tile
    width: calc(50% - 20px)
    margin-right: 0

    &:nth-child(2n)
      margin-left: 40px

#overview
  table
    display: inline-table
    width: 100%
    margin-top: 20px
    border-radius: 15px
    background: #ffffff
    font-size: 15px
    border-collapse: collapse
    box-shadow: 2px 2px 3px #dfdfdf
    overflow: hidden

    tr
      &:first-child
        box-shadow: 0 0 8px #e8e8e8

        th
          font-size: 12px !important
          font-weight: 800 !important
          letter-spacing: 1px
          text-transform: uppercase

      &:nth-child(2n+3)
        background: #f8f9ff

      .status
        width: 140px
        padding-left: 22px
        font-size: 12px
        text-transform: uppercase

        .inspect
          width: 20px
          margin-top: -7px
          margin-bottom: -5px
          margin-left: 6px
          opacity: 0.6
          filter: sepia(100%) saturate(100) hue-rotate(-150deg) brightness(1)

          &:hover
            opacity: 0.8

      .type
        width: 80px

        span
          display: inline-block
          width: 60px
          border-radius: 3px
          color: #ffffff
          font-size: 12px
          font-weight: bold
          line-height: 23px
          text-align: center
          text-transform: uppercase

      .handler
        min-width: 250px
        font-weight: bold

        .icon
          width: 30px
          margin-top: -14px
          margin-bottom: -10px
          opacity: 0.6

      .data
        max-width: calc(100vw - 950px)

        span
          position: relative
          top: -2px
          font-family: $font2
          font-size: 12px
          white-space: nowrap

        &:hover
          span
            white-space: normal

      .time
        width: 90px

      td, th
        padding: 10px 0

        .json
          background: #f5a65b

        .event
          background: #7233ff

        .text
          background: #808080

      .in
        color: #65c44c
        font-weight: bold

      .out
        @extend .in
        color: #299bec

      .id
        display: inline-block
        position: relative
        top: -1px
        color: #808080
        font-family: $font2
        font-size: 12px
        font-weight: 900

      .event-label
        top: unset !important
        color: #7233ff
        font-weight: 900 !important

#inspector
  .chart-preview
    canvas
      width: 100%
      max-height: 100px
      margin-top: 30px
      margin-bottom: 10px

  .tile
    min-height: 210px
    cursor: pointer

    &:hover
      background: #fafafa
      box-shadow: 1px 1px 3px #bdbdbd

#actions
  #event-listeners
    .tile
      padding-right: 55px !important

      &::before
        @extend .white-edge
        width: 40px

      .workflow-icon
        position: absolute
        top: 21px
        right: 17px
        width: 28px
        padding: 4px
        float: right
        border: solid 1px #c0c0c0
        border-radius: 5px
        background: #f1f0f6

      .workflow-id
        @extend .workflow-icon
        width: unset
        min-width: 28px
        background: #cfffc3
        font-weight: bold
        line-height: 17px
        text-align: center

  #workflows
    margin-top: 30px

    .workflow
      position: relative
      padding-right: 40px
      padding-bottom: 15px
      border-bottom: solid 1px #dbdbdb

      &:last-child
        border-bottom: unset

      .workflow-id
        display: inline-block
        width: 40px
        min-width: 28px
        height: 40px
        margin-top: 15px
        margin-right: 5px
        border: solid 1px #c0c0c0
        border-radius: 10px
        font-size: 18px
        font-weight: bold
        line-height: 36px
        text-align: center
        vertical-align: middle

      .workflow-id-connected
        background: #cfffc3

      .workflow-routine
        display: inline-block
        position: relative
        max-width: 250px
        height: 51px
        margin: 15px 5px 0
        padding: 2px 20px 0
        border-radius: 10px
        background: #ffffff
        text-align: center
        box-shadow: 2px 2px 3px #dfdfdf
        cursor: pointer
        overflow: hidden
        vertical-align: middle

        &::before
          @extend .white-edge

        &:hover
          .arrow-left
            display: flex

        &.active
          padding-bottom: 50px
          border: solid 2px #65c44c


        .log-index
          display: inline-block
          min-width: 22px
          height: 21px
          margin-right: 5px
          padding: 0 5px 0 6px
          border-radius: 11px
          background: #65c44c
          color: #ffffff
          line-height: 19px
          text-align: center
          vertical-align: middle

        .name
          margin: 0 7px
          font-weight: bold

        .description
          margin: 1px 7px 0
          font-size: 13px
          white-space: nowrap

        .arrow-left
          display: none
          position: absolute
          top: 0
          left: 0
          width: 28px
          height: 100%
          cursor: pointer
          overflow: hidden

          img
            height: 15px
            margin: auto

          &:hover
            img
              filter: brightness(0.8)

        .arrow-right
          @extend .arrow-left
          right: 0
          left: unset

          img
            transform: scaleX(-1)

      .add-routine
        width: 40px
        height: 40px
        margin-top: 15px
        margin-left: 5px
        padding: 5px
        border: solid 1px #c4c4c4
        border-radius: 10px
        background: #fff
        cursor: pointer
        opacity: 0.5
        vertical-align: middle

        &:hover
          opacity: 0.9

      .delete-routine
        @extend .add-routine
        position: absolute
        top: 5px
        right: 0
        border: solid 1px transparent
        background: none

#data
  .settings
    display: inline-block
    margin-top: 1px
    margin-bottom: 0
    margin-left: 4px
    padding: 2px 8px
    border: 0
    border-radius: 3px
    background: #ffffff
    color: #5e5e5e
    font-size: 12px
    font-weight: normal
    box-shadow: 0 0 2px #cacaca
    vertical-align: top

    &:hover
      color: #2a2a2a
      box-shadow: 0 0 2px #6c6c6c

  .attribute
    margin-right: 5px
    padding: 4px 11px
    font-size: 12px

  .ghost
    @extend .attribute
    border: solid 1px #dbdbdb
    background: transparent
    color: #9b9b9b

#handlers.tile-list
  .tile::before
    @extend .white-edge

#details
  table
    td, th
      width: 50%

  .cells
    div
      display: inline-block
      width: 50%
      vertical-align: top

      p
        margin: 0
        color: #777

        &:nth-child(2n+1)
          margin-bottom: 3px
          padding-top: 15px
          color: unset
          font-size: 17px
          font-weight: bold
          line-height: 1.2

      &:nth-child(2n+1)
        padding-right: 10px

      &:nth-child(2n)
        padding-left: 10px

#dialog-container
  display: flex
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: opacity 0.2s cubic-bezier(0.62, 1.71, 1, 1.64), margin-top 0.2s step-start
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), steps(1, start)
  background-color: rgba(0, 0, 0, 0.3)
  z-index: 100

  dialog
    position: relative
    width: 600px
    min-height: 400px
    max-height: calc(100% - 100px)
    padding: 25px 30px
    transition: 0.2s cubic-bezier(.5,-.7,.6,1)
    border: 0
    border-radius: 20px
    background-color: #f1f0f6
    color: #555
    overflow: auto

    h1
      color: #555
      font-size: 22px
      font-weight: bold
      //text-transform: capitalize

      .id
        color: #939393
        font-size: 20px
        text-transform: none

    .tile
      width: 260px
      margin-right: 0

      &:nth-child(2n)
        margin-left: 20px

      h3
        font-weight: bold

    textarea.configuration
      min-height: 235px
      font-family: $font2

.dialog-hidden
  margin-top: -1000%
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important
  opacity: 0 !important

  dialog
    transform: scale(0)
    opacity: 0

#inspector-chart-view
  position: fixed
  top: 0
  left: 0
  width: calc(100% - 50px)
  height: calc(100% - 50px)
  margin: 25px
  transition: 0.4s cubic-bezier(.5,-.7,.6,1)
  border-radius: 20px
  background: #ffffff
  box-shadow: 0 0 0 7000px rgba(0, 0, 0, 0.1)
  z-index: 150

  .canvas-parent
    height: 100%

  .close-button
    position: absolute
    top: 15px
    right: 25px
    width: 25px
    cursor: pointer
    opacity: 0.6

    &:hover
      opacity: 1

  .settings-button
    @extend .close-button
    right: unset
    left: 25px

  #inspector-config-panel
    display: none
    position: absolute
    width: 330px
    max-height: 100%
    padding: 15px 20px 15px 20px
    transition: ease-in-out 100ms
    border-radius: 20px
    background: #ffffff
    box-shadow: 0 0 5px #c0c0c0
    overflow: auto

    .close-button
      width: 20px

    h1
      font-size: 20px
      font-weight: bold

    h2
      margin-top: 15px
      font-size: 17px

    .view-label
      width: 100%

    #date-select
      width: 100%
      margin-bottom: 20px

.inspector-chart-view-hidden
  margin-top: -1000%
  transform: scale(0)
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important
  opacity: 0 !important

#menu-button
  display: none
  position: fixed
  top: 22px
  right: 18px
  width: 38px
  cursor: pointer
  opacity: 0.6

@media (max-width: 1300px)
  #overview, #inspector, #details
    .tile
      width: 100%

      &:nth-child(2n)
        margin-left: 0

@media (max-width: 900px)
  body
    padding-left: 0
  #menu
    display: none
    width: 100%

  #menu.visible
    display: block

  #notifications-button
    right: 70px

  #menu-button
    display: block

  #content-container
    padding: 20px

  #overview
    position: relative
    overflow: unset

    table
      display: block
      position: relative
      margin-top: 30px
      border-radius: 0
      background: none
      box-shadow: none
      overflow: unset

      tbody
        display: block

      tr
        display: block
        max-width: 100%
        margin-bottom: 10px
        border-radius: 15px
        background: #ffffff !important
        box-shadow: 2px 2px 3px #dfdfdf
        overflow: auto

      tr:first-child
        display: none

      td
        display: inline-block
        min-width: unset !important
        max-width: unset !important

        &:nth-child(1)
          margin-right: 10px

        &:nth-child(2)
          margin-right: 10px

        &:nth-child(4)
          display: block
          margin-left: 20px
          padding: 0

        &:last-child
          display: block
          margin-left: 20px

  #inspector-chart-view
    width: 100%
    height: 100%
    margin: 0
    border-radius: 0
    box-shadow: none

    .close-button
      top: 15px

    .settings-button
      display: unset
      top: 15px

    #inspector-config-panel
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 20px
      border-radius: 0

    .mobile-top-panel
      text-align: right

      .close-button
        position: relative
        top: 0
        left: 0
        width: 25px !important
        cursor: pointer
        opacity: 0.6

  #handlers.tile-list
    .add
      display: block

  #details
    .cells
      div
        width: 100%

        &:nth-child(2n+1)
          padding-right: 0

        &:nth-child(2n)
          padding-left: 0

@media (max-width: 550px)
  .tile-list
    .tile
      width: 100% !important
      max-width: unset
      margin-left: 0 !important
    .add
      width: 69px !important
      margin: 20px auto !important
