@import "defaults"

body
  height: 100vh

nav
  position: fixed
  width: 320px
  height: 100%
  left: 0
  top: 0
  padding: 20px
  background-color: #f9fafc
  font-family: $font1
  overflow: auto
  z-index: 100

  h1
    margin: 0
    font-weight: bold
    color: #555555
    font-size: 30px
    padding-left: 10px
    margin-bottom: 50px

  h5
    font-size: 14px
    color: #9d9d9d
    padding-left: 10px
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 1px

  ul
    padding-left: 0

    li
      display: block
      height: 70px
      padding: 10px
      cursor: pointer
      border-radius: 10px
      transition: background-color ease-in-out 200ms

      &:hover
        //background-color: #f1f0f6
        box-shadow: 0 0 0 2px inset #f1f0f6

      img
        width: 50px
        padding: 8px
        border-radius: 25%
        float: left
        margin-right: 10px

      .title
        margin: 0
        margin-top: 2px
        color: #555
        font-weight: 600

      .description
        font-size: 13px
        margin: 0
        color: #555
        font-weight: 500

    .active
      background-color: #f1f0f6

#content-container
  padding: 20px 40px
  height: 100%
  overflow: auto

  h2
    font-size: 22px
    font-weight: bold
    margin-top: 7px

  title
    display: block

.tile
  display: inline-block
  background-color: white
  padding: 20px 25px
  border-radius: 15px
  margin-right: 40px
  margin-top: 20px
  vertical-align: top
  box-shadow: 2px 2px 3px #dfdfdf
  transition: transform ease-in-out 50ms

  h1
    font-size: 22px
    color: #555
    font-weight: bold

  h3
    font-size: 17px

  table
    width: 100%


    th
      color: #555
      padding-top: 10px

    td
      color: #777

  pre
    white-space: normal
    background: #f1f0f6
    padding: 12px
    border-radius: 10px
    margin-top: 15px

.tile-list
  .tile
    padding: 15px 15px !important
    overflow: hidden
    cursor: pointer
    min-width: 250px

    &:hover
      transform: scale(1.03)

    img
      width: 38px
      opacity: 0.6
      float: left
      margin-right: 5px

    h3
      white-space: nowrap
      font-size: 15px
      font-weight: bolder
      margin-bottom: 0
      color: #555555

      .id
        text-transform: none
        color: #b3b1b1
        font-size: 14px

    .description
      margin-bottom: 0
      white-space: nowrap

    .notif
      display: inline list-item
      margin-left: 5px
      font-size: 20px
      float: right
      top: -3px
      position: relative

  .add
    height: 69px
    width: 69px !important
    min-width: auto
    border-radius: 100% !important
    cursor: pointer
    background-image: url("/static/images/icons/plus.png")
    background-size: 60%
    background-repeat: no-repeat
    background-position: center
    opacity: 0.8

#overview, #inspector, #details
  .tile
    width: calc(50% - 20px)
    margin-right: 0

    &:nth-child(2n)
      margin-left: 40px

#inspector
  .chart-preview
    canvas
      width: 100%
      max-height: 100px
      margin-top: 30px
      margin-bottom: 10px

  button
    color: #5e5e5e
    display: inline-block
    background: white
    border: solid 1px white
    padding: 8px 15px
    margin-top: 10px
    margin-right: 5px
    border-radius: 20px
    box-shadow: 1px 1px 3px #dfdfdf
    font-size: 16px
    font-weight: bold
    margin-bottom: 17px

  .tile
    cursor: pointer

#data
  h3
    font-weight: bold
    font-size: 17px
    margin-top: 14px
    margin-bottom: 2px

    button
      border-radius: 3px
      color: #5e5e5e
      font-size: 12px
      background: white
      display: inline-block
      padding: 2px 8px
      vertical-align: top
      margin-left: 4px
      margin-top: 1px
      border: none
      box-shadow: 0 0 2px #cacaca

      &:hover
        color: #2a2a2a
        box-shadow: 0 0 2px #6c6c6c

  .attribute
    color: #5e5e5e
    display: inline-block
    background: white
    border: solid 1px white
    padding: 4px 11px
    margin-top: 10px
    margin-right: 5px
    border-radius: 20px
    box-shadow: 1px 1px 3px #dfdfdf
    font-size: 12px
    font-weight: bold

  .ghost
    @extend .attribute
    background: transparent
    border: solid 1px #dbdbdb
    color: #9b9b9b

#handlers
  .tile
    h3
      margin-right: 50px

#details
  table
    td, th
      width: 50%

  .cells
    div
      width: 50%
      display: inline-block
      vertical-align: top

      h3
        padding-top: 15px
        font-weight: bold
        margin-bottom: 3px

      p
        color: #777
        margin: 0

      &:nth-child(2n+1)
        padding-right: 10px

      &:nth-child(2n)
        padding-left: 10px

#dialog-container
  display: flex
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.3)
  transition: opacity 0.2s cubic-bezier(0.62, 1.71, 1, 1.64), margin-top 0.2s step-start
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), steps(1, start)

  dialog
    position: relative
    border: none
    border-radius: 20px
    width: 600px
    min-height: 400px
    max-height: calc(100% - 100px)
    transition: 0.2s cubic-bezier(.5,-.7,.6,1)
    padding: 25px 30px
    background-color: #f1f0f6
    overflow: auto

    h1
      font-size: 22px
      font-weight: bold
      color: #555555
      //text-transform: capitalize

      .id
        text-transform: none
        color: #939393
        font-size: 20px

    .tile
      margin-left: 0
      margin-right: 30px
      width: 240px

.dialog-hidden
  opacity: 0 !important
  margin-top: -1000%
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important

  dialog
    transform: scale(0)
    opacity: 0

#inspector-chart-view
  position: fixed
  border-radius: 20px
  box-shadow: 0 0 0 7000px rgba(0, 0, 0, 0.1)
  background: white
  top: 0
  left: 0
  width: calc(100% - 50px)
  height: calc(100% - 50px)
  margin: 25px
  transition: 0.4s cubic-bezier(.5,-.7,.6,1)
  z-index: 150

  .canvas-parent
    height: 100%

  .inspector-config-panel
    width: 330px
    padding: 15px 20px
    position: absolute
    background: white
    box-shadow: 0 0 5px silver
    border-radius: 20px
    padding-left: 100px
    top: 70px
    left: -330px
    transition: ease-in-out 100ms

    &:hover
      left: -100px

    h1
      font-size: 20px
      font-weight: bold

    h2
      font-size: 17px
      margin-top: 25px

    .view-label
      width: 100%

.inspector-chart-view-hidden
  opacity: 0 !important
  margin-top: -1000%
  transform: scale(0)
  transition-timing-function: cubic-bezier(0.62, 1.71, 1, 1.64), step-end !important

.close-button
  position: absolute
  top: 25px
  right: 25px
  width: 25px
  cursor: pointer
  opacity: 0.6

  &:hover
    opacity: 1

#menu-button
  position: fixed
  top: 20px
  right: 18px
  width: 38px
  opacity: 0.6
  cursor: pointer
  display: none

@media (max-width: 1300px)
  #overview, #inspector, #details
    .tile
      width: 100%

      &:nth-child(2n)
        margin-left: 0

@media (max-width: 900px)
  body
    padding-left: 0
  nav
    display: none
    width: 100%

  .visible
    display: block

  #menu-button
    display: block

  #content-container
    padding: 20px

  #inspector-chart-view
    border-radius: 0
    box-shadow: none
    margin: 0
    width: 100%
    height: 100%

  .close-button
    top: 15px

  #handlers.tile-list
    .tile
      width: 100%
      margin-right: 0

    .add
      display: block
      margin: 30px auto

  #details
    .cells
      div
        width: 100%

        &:nth-child(2n+1)
          padding-right: 0

        &:nth-child(2n)
          padding-left: 0
