{% extends "components/dialog/dialog.html" %}

{% from "components/button/button.html" import button %}
{% from "components/checkbox_list/checkbox_list_item/checkbox_list_item.html" import checkbox_list_item %}

{% block dialog_title %}
{{ routine.name }} - New routine
{% endblock %}

{% block dialog_form %}
<input type="hidden" name="routine_type" value="{{ routine.type }}">
<input type="hidden" name="workflow_id" value="{{ workflow.id }}">

{% for field in routine.config_fields %}
    <div class="form-group">
    {% if routine.config_fields[field].0 == "string" %}
        <label for="{{ field }}" class="form-group__title">{{ routine.config_fields[field].1 }}</label>
        <input id="{{ field }}" name="_{{ field }}_" class="input-text" value="{{ routine.config_fields[field].2 }}">
    {% elif routine.config_fields[field].0 == "int" %}
        <label for="{{ field }}" class="form-group__title">{{ routine.config_fields[field].1 }}</label>
        <input id="{{ field }}" name="_{{ field }}_" class="input-text" type="number" step="1" value="{{ routine.config_fields[field].2 }}">
    {% elif routine.config_fields[field].0 == "float" %}
        <label for="{{ field }}" class="form-group__title">{{ routine.config_fields[field].1 }}</label>
        <input id="{{ field }}" name="_{{ field }}_" class="input-text" type="number" step="0.01" value="{{ routine.config_fields[field].2 }}">
    {% elif routine.config_fields[field].0 == "bool" %}
        {{ checkbox_list_item(field, routine.config_fields[field].1, routine.config_fields[field].2, "", "_" + field + "_") }}
    {% elif routine.config_fields[field].0 == "handlerInstance" %}
        <label for="{{ field }}" class="form-group__title">{{ routine.config_fields[field].1 }}</label>
        <select id="{{ field }}" name="_{{ field }}_" class="input-text">
            {% for handler in handlers %}
                <option value="{{ handler }}">{{ handlers[handler].get_name() }} (id:{{ handler }})</option>
            {% endfor %}
        </select>
    {% elif routine.config_fields[field].0 == "workflowInstance" %}
        <label for="{{ field }}" class="form-group__title">{{ routine.config_fields[field].1 }}</label>
        <select id="{{ field }}" name="_{{ field }}_" class="input-text">
            <option value="0">None</option>
            {% for workflow in workflows %}
                <option value="{{ workflow.id }}">Workflow {{ workflow.id }}</option>
            {% endfor %}
        </select>
    {% elif routine.config_fields[field].0 == "condition" %}
        <label for="{{ field }}" class="form-group__title">{{ routine.config_fields[field].1 }}</label>
        <input id="{{ field }}" name="_{{ field }}_" class="input-text" value="{{ routine.config_fields[field].2 }}">
    {% elif routine.config_fields[field].0 == "configuration" %}
        <label for="{{ field }}" class="form-group__title">{{ routine.config_fields[field].1 }}</label>
        <textarea id="{{ field }}" name="_{{ field }}_" class="form-group__textarea input-text">{{ routine.config_fields[field].2 }}</textarea>
    {% endif %}
    </div>
{% endfor %}

{{ button("Save", "window.app.dialog.send('/add_new_routine')", "save.png", ["small"]) }}
{% endblock %}
