{% extends "components/dialog/dialog.html" %}

{% from "components/button/button.html" import button %}

{% block dialog_title %}
Choose new routine
{% endblock %}

{% block dialog_form %}
<div class="form-group">
    <p class="form-group__title">Available routines</p>
    <div class="block-list">
        {%- for routine in available_routines -%}
            {{ button(
                routine.name,
                "window.app.dialog.load('add_new_routine', {
                    'routine_type': '" + routine.type + "', 'target_workflow': '" + target_workflow + "'
                })",
                none,
                ["form"]
           ) }}
{#            <div class="tile" onclick="window.app.dialog.load('add_new_routine', {#}
{#                'routine_type': '{{ routine.type }}', 'target_workflow': '{{ target_workflow }}'#}
{#            })">#}
{#                <h3>{{ routine.name }}</h3>#}
{#            </div>#}
        {%- endfor -%}
    </div>
</div>
{% endblock %}
