{% extends "components/dialog/dialog.html" %}

{% from "components/button/button.html" import button %}
{% from "components/checkbox_list/checkbox_list_item/checkbox_list_item.html" import checkbox_list_item %}

{% block dialog_title %}
{{ handler.get_name() }} <span class="dialog__title--number">{{ id }}</span>
{% endblock %}

{% block dialog_form %}
<input type="hidden" name="handler_type" value="{{ handler.type }}">

<div class="form-group">
    <label for="handler_label" class="form-group__title">Handler label</label>
    <input id="handler_label" name="handler_label" class="input-text" value="{{ handler.settings['label'] }}">
</div>

{% for field in handler.config_fields %}
    <div class="form-group">
    {% if handler.config_fields[field].0 == "string" %}
        <label for="{{ field }}" class="form-group__title">{{ handler.config_fields[field].1 }}</label>
        <input id="{{ field }}" name="_{{ field }}_" class="input-text" value="{{ handler.get_config()[field] }}">
    {% elif handler.config_fields[field].0 == "int" %}
        <label for="{{ field }}" class="form-group__title">{{ handler.config_fields[field].1 }}</label>
        <input id="{{ field }}" name="_{{ field }}_" class="input-text" type="number" step="1" value="{{ handler.get_config()[field] }}">
    {% elif handler.config_fields[field].0 == "float" %}
        <label for="{{ field }}" class="form-group__title">{{ handler.config_fields[field].1 }}</label>
        <input id="{{ field }}" name="_{{ field }}_" class="input-text" type="number" step="0.01" value="{{ handler.get_config()[field] }}">
    {% elif handler.config_fields[field].0 == "bool" %}
        {{ checkbox_list_item(field, handler.config_fields[field].1, handler.get_config()[field], "", "_" + field + "_") }}
    {% endif %}
    </div>
{% endfor %}

{{ button("Save changes", "window.app.dialog.send('/edit_handler/" + id|string + "')", "save.png", ["small"]) }}
{{ button("Delete handler", "window.app.dialog.send('/delete_handler/" + id|string + "')", "trash_white.png", ["small", "red"]) }}
{% endblock %}
