<h1>{{ routine.get_name() }} <span class="id">(id:{{ routine.id }})</span></h1>
<form id="edit_routine_form">
    {% for field in routine.config_fields %}
        {% if routine.config_fields[field].0 == "string" %}
            <div class="form-group mt-3">
                <label for="{{ field }}">{{ routine.config_fields[field].1 }}</label>
                <input id="{{ field }}" name="_{{ field }}_" class="form-control" value="{{ routine.get_config()[field] }}">
            </div>
        {% elif routine.config_fields[field].0 == "int" %}
            <div class="form-group mt-3">
                <label for="{{ field }}">{{ routine.config_fields[field].1 }}</label>
                <input id="{{ field }}" name="_{{ field }}_" class="form-control" type="number" step="1" value="{{ routine.get_config()[field] }}">
            </div>
        {% elif routine.config_fields[field].0 == "float" %}
            <div class="form-group mt-3">
                <label for="{{ field }}">{{ routine.config_fields[field].1 }}</label>
                <input id="{{ field }}" name="_{{ field }}_" class="form-control" type="number" step="0.01" value="{{ routine.get_config()[field] }}">
            </div>
        {% elif routine.config_fields[field].0 == "bool" %}
            <div class="form-group mt-3">
                <label for="{{ field }}" class="me-1">{{ routine.config_fields[field].1 }}</label>
                <input id="{{ field }}" name="_{{ field }}_" class="form-check-input" type="checkbox" {% if routine.get_config()[field] %}checked{% endif %} value="{{ routine.config_fields[field].2 }}">
            </div>
        {% elif routine.config_fields[field].0 == "handlerInstance" %}
            <div class="form-group mt-3">
                <label for="{{ field }}" class="me-1">{{ routine.config_fields[field].1 }}</label>
                <select id="{{ field }}" name="_{{ field }}_" class="form-select">
                    {% for handler in handlers %}
                        <option value="{{ handler }}" {% if handler == routine.get_config()[field] | int %}selected{% endif %}>{{ handlers[handler].get_name() }} (id:{{ handler }})</option>
                    {% endfor %}
                </select>
            </div>
        {% elif routine.config_fields[field].0 == "workflowInstance" %}
            <div class="form-group mt-3">
                <label for="{{ field }}" class="me-1">{{ routine.config_fields[field].1 }}</label>
                <select id="{{ field }}" name="_{{ field }}_" class="form-select">
                    {% for workflow in workflows %}
                        <option value="{{ workflow.id }}" {% if workflow.id == routine.get_config()[field] | int %}selected{% endif %}>{{ workflow.id }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    {% endfor %}

    <button type="button" class="mt-3 btn btn-primary btn-sm" onclick="window.app.dialog.send('/edit_routine/{{ routine.id }}')"><b>Save changes</b></button>
    <button type="button" class="mt-3 ml-2 btn btn-danger btn-sm" onclick="window.app.dialog.send('/delete_routine/{{ routine.id }}')"><b>Delete routine</b></button>
</form>
