{% extends "components/dialog/dialog.html" %}

{% from "components/button/button.html" import button %}
{% from "components/checkbox_list/checkbox_list_item/checkbox_list_item.html" import checkbox_list_item %}

{% block dialog_title %}
Edit event listener
{% endblock %}

{% block dialog_form %}
<div class="form-group">
    <label for="listener_handler" class="form-group__title">Target handler</label>
    <select id="listener_handler" name="listener_handler" class="input-text">
        {% for handler in handlers %}
            <option value="{{ handler }}" {% if listener.get_handler_id() == handler %}selected{% endif %}>{{ handlers[handler].get_name() }} (id:{{ handler }})</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="listener_label" class="form-group__title">Listen for event label or attribute name</label>
    <input id="listener_label" name="listener_label" class="input-text" value="{{ listener.label }}">
</div>

<div class="form-group">
    <label for="listener_workflow" class="form-group__title">Execute workflow</label>
    <select id="listener_workflow" name="listener_workflow" class="input-text">
        <option value="">None</option>
        {% for workflow in workflows %}
            <option value="{{ workflow.id }}" {% if listener.workflow.id == workflow.id %}selected{% endif %}>{{ workflow.id }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
{{ checkbox_list_item("data_listener", "Listen for JSON attributes instead of events", listener.get_data_listener_status(), "", "") }}
</div>

{{ button("Save changes", "window.app.dialog.send('/edit_event_listener/" + listener.id|string + "')", "save.png", ["small"]) }}
{{ button("Delete listener", "window.app.dialog.send('/delete_event_listener/" + listener.id|string + "')", "trash_white.png", ["small", "red"]) }}
{% endblock %}
