{% extends "components/dialog/dialog.html" %}

{% from "components/button/button.html" import button %}
{% from "components/checkbox_list/checkbox_list_item/checkbox_list_item.html" import checkbox_list_item %}

{% block dialog_title %}
{{ handler.get_name() }} <span class="dialog__title--number">{{ id }}</span>
{% endblock %}

{% block dialog_form %}
<div class="form-group">
{% if not attributes %}
    <p>There are no data to save from this handler.</p>
{% else %}
    <p class="form-group__title">Store in a database</p>
{% endif %}
{% for attribute in attributes %}
    {{ checkbox_list_item(attribute, "", attribute in handler.get_storage_attributes(), attributes[attribute]) }}
{% endfor %}
</div>
{{ button("Save", "window.app.dialog.send('/edit_json_attributes_to_store/" + id|string + "')", "save.png", ["small"]) }}
{% endblock %}
