<h1>Select JSON attributes to store in database</h1>
<form id="json-attributes-to-store" action="">
    {% if not attributes %}
        <p><br>There are no data to save from this handler.</p>
    {% endif %}
    {% for attribute in attributes %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="{{ attribute }}" id="{{ attribute }}" {% if attribute in handler.get_storage_attributes() %}checked{% endif %}>
            <label class="form-check-label text-muted" for="{{ attribute }}">{{ attribute }}</label>
        </div>
    {% endfor %}

    <button type="button" class="mt-3 btn btn-primary btn-sm" onclick="window.app.dialog.send('/edit_json_attributes_to_store/{{ id }}')"><b>Save</b></button>
</form>
