{%- macro checkbox_list_item(attribute, title="", checked="", data="", name="") -%}
    <label class="checkbox-list-item {% if checked %}checkbox-list-item__input--checked{% endif %}" for="{{ attribute }}">
        <input
                type="checkbox"
                class="checkbox-list-item__input"
                name="{{ name or attribute }}"
                id="{{ attribute }}"
                value="{{ checked }}"
                {% if checked %}checked{% endif %}
                oninput="
                    if (this.checked) {
                        this.parentNode.classList.add('checkbox-list-item__input--checked');
                    } else {
                        this.parentNode.classList.remove('checkbox-list-item__input--checked');
                    }"
        ><span class="checkbox-list-item__text">{% if title %}{{ title }}{% else %}{{ attribute }}{% endif %}</span>
        {% if data != '' %}
        <span class="checkbox-list-item__data">{{ data }}</span>
        {% endif %}
    </label>
{%- endmacro -%}
