@use "variables" as v;
@use "definition" as d;

html {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0;
    background: #f5f6fa;
    color: var(--color-mono-dark);

    a {
        color: var(--color-primary);
        text-decoration: none;
    }
}

:root {
    @each $key, $value in d.$predefined-text {
        @each $sub-key, $sub-value in $value {
            --#{$key}-#{$sub-key}: #{$sub-value};
        }
    }

    @each $key, $value in d.$predefined-block {
        @each $sub-key, $sub-value in $value {
            --#{$key}-#{$sub-key}: #{$sub-value};
        }
    }

    --icon-opacity: 0.9;
    --body-background: linear-gradient(140deg, #fff7c703 0%, rgb(255 236 209 / 70%) 100%);
    --default-button-icon-filter: invert(1);
}

html[data-theme='dark'] {
    --body-background: #121619;
    --default-button-icon-filter: unset;
    --color-mono-always-dark: #282E32;
    --color-mono-dark: #{v.$mono-white};
    --color-mono-light: #{v.$mono-dark};
    --color-mono-white: #1d2225;
    --themed-filter: invert(1);
}
