$mono-dark: #3c3c3b;
$mono-light: #f4f4f4;
$mono-white: #fff;
$primary: #003651;
$primary-transparent: #00365121;
$secondary: #25c2ff;
$silver: #ababab;
$red: #dc6860;
$orange: #f0a500;
$green: #80dc60;
