.navbar-item {
    width: 70%;
    margin: 5px 0 0;
    padding: 13px 15px;
    border-radius: 10px;
    background: $white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        background: $primary-background;
    }

    &--active {
        opacity: 1 !important;
        background: $primary-background;
    }
}
