<h2>Data stored in the database</h2>
<div id="data" class="tile-list">
    <div class="mt-3 mb-4 pb-2 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" oninput="window.app.menu.page.setConfigArgument('ghost_data', {% if site_config['ghost_data'] %}0{% else %}1{% endif %}); window.app.menu.page.load('data')" {% if site_config['ghost_data'] %}checked{% endif %}>
        <label class="form-check-label text-muted" for="exampleCheck1" title="Data remaining in the database that are no longer tracked">Display ghost data (?)</label>
    </div>
    {% for handler in manager.registered_handlers %}
        <h3>{{ manager.registered_handlers[handler] | generate_handler_name }} <button onclick="window.app.dialog.load('json_attributes_to_store_{{ handler }}')">Settings</button></h3>

        {% if (site_config["ghost_data"] and not attributes[handler] and not ghost_attributes[handler]) or (not site_config["ghost_data"] and not attributes[handler]) %}
            <div class="text-muted mt-1 mb-4">There is nothing to display.</div>
        {% else %}
            {% for attribute in attributes[handler] %}
                <a href="/graph/{{ handler }}/{{ attribute }}"><button class="attribute">{{ attribute }}</button></a>
            {% endfor %}
            {% if site_config["ghost_data"] %}
                {% for attribute in ghost_attributes[handler] %}
                    <a href="/graph/{{ handler }}/{{ attribute }}"><button class="ghost">{{ attribute }}</button></a>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
