{% from 'components/block_info/block_info.html' import info_block %}
{% from 'components/button/button.html' import button %}

<h2 class="content-container__title">Advanced information</h2>
<div id="details">
    {%- for category in data -%}
        {{ info_block(category, data[category]) }}
    {%- endfor -%}
</div>
<p><br></p>
<h2 class="content-container__title">Options</h2>
<div class="tile-list">
    {{ button("Clear all database tables", "window.app.deleteAllTables()", "trash.png") }}
</div>
