<h2>Advanced information</h2>
<div id="details">
    <div class="tile">
        <h1>Host device</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Kernel</th>
            </tr>
            <tr>
                <td>{{ data.node }}</td>
                <td>{{ data.release }}</td>
            </tr>
            <tr>
                <th>Architecture</th>
                <th>Machine</th>
            </tr>
            <tr>
                <td>{{ data.architecture.0 }}, {{ data.architecture.1 }}</td>
                <td>{{ data.machine }}</td>
            </tr>
            <tr>
                <th>Processor</th>
            </tr>
            <tr>
                <td colspan="2">{{ data.processor }}</td>
            </tr>
        </table>
    </div><div class="tile">
        <h1>ContWatch instance</h1>
        <table>
            <tr>
                <th>Uptime</th>
                <th>Devices</th>
            </tr>
            <tr>
                <td>{{ data.uptime }}</td>
                <td>{{ data.devices }}</td>
            </tr>
            <tr>
                <th>Connections</th>
                <th>Database size</th>
            </tr>
            <tr>
                <td>{{ data.connections }}</td>
                <td>{{ data.database_size | hr_filesize }}</td>
            </tr>
            <tr>
                <th>Cache size</th>
                <th></th>
            </tr>
            <tr>
                <td>{{ data.cache_size | hr_filesize }}</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>