{% from 'components/block_list/block_list_item/block_list_item.html' import block_list_item %}

<h2 class="content-container__title">List of configured handlers</h2>
<div id="handlers" class="block-list">
    {%- for handler in handlers -%}
        {{ block_list_item(
                handlers[handler].get_name(),
                handlers[handler].get_description(),
                "types/" + handlers[handler].icon + ".png",
                handler,
                'green' if handlers[handler].is_connected() else 'red',
                "window.app.dialog.load('edit_handler', {'handler_id': '" + handler|string + "'})"
           ) }}
    {%- endfor -%}
    <div class="block-list__add-button" title="Add new handler" onclick="window.app.dialog.load('choose_handler_type')"></div>
</div>
