<h2>List of configured handlers</h2>
<div id="handlers" class="tile-list">
    {% for handler in handlers %}<div class="tile" style="border-left: solid 5px {{'#0b0' if handlers[handler].is_connected() else '#ff6f6f'}}" onclick="window.app.dialog.load('edit_handler', {'handler_id': '{{ handler }}'})">
        <img src="{{ url_for('static', filename='images/icons/types/'+handlers[handler].type+'.png') }}" alt="handler icon">
        <div class="title">{{ handlers[handler].get_name() }} <span class="id">(id:{{ handler }})</span></div>
        <p class="description small">
            {# TODO: Description should be standardized #}
            {% if handlers[handler].connection and handlers[handler].connection.port %}
                {{ handlers[handler].connection.port }}
            {% elif handlers[handler].url %}
                {{ handlers[handler].url }}
            {% endif %}
        </p>
    </div>{% endfor %}<div class="tile add" title="Add new handler" onclick="window.app.dialog.load('choose_handler_type')"></div>
</div>
