<h2>Inspector</h2>
<div id="inspector" onload="window.app.menu.page.displayCharts(100)">
    <button onclick="window.app.inspector.openEmpty()"><img src="{{ url_for('static', filename='images/icons/plus_bold.png') }}" alt="Plus icon">New chart</button>
    <h3>Saved views</h3>
    {% for view in views -%}
        <div class="tile chart-preview" onclick="window.app.inspector.open({{ view.id }}, '{{ view.label }}'); {% for handler in view.settings %}{% for attribute in view.settings[handler] %}window.app.inspector.addChart('{{ handler }}', '{{ attribute }}');{% endfor %}{% endfor %}">
            <h1>{{ view.label }}</h1>
            <canvas class="chart" data-query="{% for handler in view.settings %}{% for attribute in view.settings[handler] %}{{ handler }}-{{ attribute }},{% endfor %}{% endfor %}"></canvas>
        </div>
    {%- endfor %}
</div>
<div id="inspector-chart-view" class="inspector-chart-view-hidden">
    <img src="{{ url_for('static', filename='images/icons/settings.png') }}" class="settings-button" alt="Settings icon" onclick="window.app.inspector.showConfigPanel()">
    <img src="{{ url_for('static', filename='images/icons/close.png') }}" class="close-button" onclick="window.app.inspector.hide()" alt="Close icon">
    <div id="inspector-config-panel">
        <div class="mobile-top-panel">
            <img class="close-button" src="{{ url_for('static', filename='images/icons/close.png') }}" alt="Close icon" onclick="window.app.inspector.hideConfigPanel()">
        </div>
        <h1><label for="date-select">Select date</label></h1>
        <input id="date-select" type="date" oninput="window.app.inspector.changDate();">
        <h1>Chart data</h1>
        {% for handler in manager.get_handlers() %}
            {% if manager.get_handlers()[handler].get_storage_attributes() %}
                <h2>{{ manager.get_handlers()[handler].get_name() }}</h2>
                {% for attribute in manager.get_handlers()[handler].get_storage_attributes() %}
                    <div>
                        <input id="{{ handler }}-{{ attribute }}" type="checkbox" class="inspector-data-checkbox" data-handler="{{ handler }}" data-attribute="{{ attribute }}" oninput="window.app.inspector.toggleChart('{{ handler }}', '{{ attribute }}')">
                        <label for="{{ handler }}-{{ attribute }}">{{ attribute }}</label>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <br>
        <h1>Events</h1>
        {% for handler in manager.get_handlers() %}
            {% set event_names = manager.event_manager.get_storage_events_names(handler) %}
            {% if event_names["in"] or event_names["out"] %}
                <h2>{{ manager.get_handlers()[handler].get_name() }}</h2>
                {% for event in event_names["in"] %}
                    <div>
                        <input id="{{ handler }}-{{ event }}-in" type="checkbox" class="inspector-data-checkbox" data-handler="{{ handler }}" data-event="{{ event }}" oninput="window.app.inspector.toggleEvent('{{ handler }}', '{{ event }}', 'in')">
                        <label for="{{ handler }}-{{ event }}-in">← {{ event }}</label>
                    </div>
                {% endfor %}
                {% for event in event_names["out"] %}
                    <div>
                        <input id="{{ handler }}-{{ event }}-out" type="checkbox" class="inspector-data-checkbox" data-handler="{{ handler }}" data-event="{{ event }}" oninput="window.app.inspector.toggleEvent('{{ handler }}', '{{ event }}', 'out')">
                        <label for="{{ handler }}-{{ event }}-out">→ {{ event }}</label>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <hr>
        <h2>Save view</h2>
        <input type="text" class="view-label" id="view-label" placeholder="View label">
        <div class="btn btn-sm btn-primary mt-3" onclick="window.app.inspector.saveView()">Save</div>
        <div class="btn btn-sm btn-danger mt-3" onclick="window.app.inspector.deleteView()">Delete</div>
    </div><div class="canvas-parent">
        <canvas id="inspector-chart"></canvas>
    </div>
</div>
