<h2>Overview</h2>
<div id="overview">
    <table>
    <tr>
        <th>Status</th>
        <th>Type</th>
        <th>Time</th>
        <th>Handler</th>
        <th>Data</th>
    </tr>
    {% for message in messages -%}
        <tr>
            <td class="{% if message.5 %}out{% else %}in{% endif %}">{% if message.5 %}Outgoing{% else %}Incoming{% endif %}</td>
            <td><span class="{{ message.0 }}">{{ message.0 }}</span></td>
            <td>{{ message.3 }}</td>
            <td>{{ message.2.get_name() }} <span class="id">(id:{{ message.1 }})</span></td>
            <td>
                <span>
                {%- if message.0 == "event" -%}
                    <span class="event-label">{{ message.4.label }}:</span> {{ message.4.payload }}
                {%- else -%}
                    {{ message.4 }}
                {%- endif -%}
                </span>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
