<h2>Overview</h2>
<div id="overview">
    <table>
        {% if messages %}
        <tr>
            <th class="status">Status</th>
            <th class="type">Type</th>
            <th class="time">Time</th>
            <th class="handler">Handler</th>
            <th class="data">Data</th>
        </tr>
        {% else %}
        <p><br>Nothing to display</p>
        {% endif %}
        {% for message in messages -%}
        <tr>
            <td class="status {% if message.incoming %}in{% else %}out{% endif %}">
                {% if message.incoming %}
                    Incoming
                {% else %}
                    Outgoing
                    {% if message.type == "event" %}
                        <img class="inspect clickable"
                             src="{{ url_for('static', filename='images/icons/inspect.png') }}"
                             alt="Eye icon"
                             onclick="window.app.menu.page.setConfigArgument('action-routine-log', {{ message.queue_index }});
                                      window.app.menu.selectPage('actions')"
                             title="Inspect event in actions">
                    {% endif %}
                {% endif %}
            </td>
            <td class="type">
                <span class="{{ message.type }}">{{ message.type }}</span>
            </td>
            <td class="time">
                {{ message.time }}
            </td>
            <td class="handler">
                {% if message.handler %}
                    <img class="icon" src="{{ url_for('static', filename='images/icons/types/'+message.handler.icon+'.png') }}" alt="handler icon">
                    {{ message.handler.get_name() }}
                {% else %}
                    Deleted handler
                {% endif %}
                <span class="id">(id:{{ message.handler_id }})</span>
            </td>
            <td class="data">
                <span>
                {%- if message.type == "event" -%}
                    <span class="event-label">{{ message.data.label }}:</span>
                    {% if "routine_log" in message %}
                        {{ message.routine_log[-1][1] }}
                    {% else %}
                        {{ message.data.payload }}
                    {% endif %}
                {%- else -%}
                    {{ message.data }}
                {%- endif -%}
                </span>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
