.block-ladder
  @extend %tile
  position: relative
  width: calc(25% - 19px)
  height: 270px
  margin-top: 20px
  margin-right: 25px
  padding-bottom: 15px
  padding-left: 20px
  overflow: auto

  &:nth-child(4n)
    margin-right: 0

  &__corner-button
    display: block
    position: absolute
    top: 19px
    right: 20px
    width: 25px
    cursor: pointer
    opacity: 0.6

@import 'block_ladder_item/block_ladder_item'
