.navbar
  position: fixed
  top: 0
  left: 0
  width: 325px
  height: 100%
  padding: 20px
  background-color: $white-main
  overflow: auto
  z-index: 100
  box-sizing: border-box

  &__title
    margin: 0 0 40px
    padding-left: 10px
    font-size: 30px

    &--smaller
      margin-bottom: 0
      color: $silver-999
      font-size: 14px
      letter-spacing: 1px
      text-transform: uppercase

  &__logo
    width: 27px
    margin-bottom: -3px
    margin-left: 3px
    opacity: .7

  &__items
    margin-top: 8px
    padding-left: 0

@import 'navbar_item/navbar_item'
